/** Default configuration*/
@mobile-limit: 700px;
@default-text: #2e2e2e;
@default-border: #d5d5d5;
@default-background: #fff;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0.4em;
@alt-text: #2e2e2e;
@alt-border: #d5d5d5;
@alt-background: #eae8e8;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6em;
@primary-border: #e45200;
@primary-background: #ff6b18;
@primary-text: #fff;
@secondary-border: #B22222;
@secondary-background: #C9351C;
@secondary-text: #fff;
@tertiary-border: #0974B3;
@tertiary-background: #1AABFF;
@tertiary-text: #fff;
@link-color: #3f51b5;
@header: #eae8e8;
@header-alt: #B8B6B6;
@header-alt-text: #999;
@header-text: #2e2e2e;
@text-size: 13px;
@space: 1em;
@lspace: 2em;
@xlspace: 4em;
@xxlspace: 8em;
@sspace: 0.5em;
@xsspace: 0.25em;
@xxsspace: 0.125em;
@button-text: #2e2e2e;
@effect: rgba(255, 255, 255, .4);
@line-height: 1.7em;
@line-height-mobile: 2em;
@hover-background: #bcb4b0;
@hover-border: #b6b6b6;
@hover-text: #2e2e2e;
@active-text: #2e2e2e;
@active-border: #b6b6b6;
@active-background: #C9C1B3;
@selected-text: #fff;
@selected-background: #f35800;
@selected-border: #FF5E00;
@disabled-color: #c3c3c3;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@success-text: #00a03e;
@success-background: #cacaca;
@success-border: #00a03e;
@error-text: #db3340;
@error-background: #cacaca;
@error-border: #db3340;
@success-alt-text: #00a03e;
@success-alt-background: #cacaca;
@success-alt-border: #00a03e;
@error-alt-text: #db3340;
@error-alt-border: #db3340;
@bold: 600;

@font: 'Helvetica', 'Arial', sans-serif;

