@font: 'Roboto';
@link-color: #c36;
@default-text: #000000;
@alt-background: #d9d9d9;
@alt-text: #000000;
@primary-background: #ef1e28;
@primary-border: #d0222a;
@tertiary-background: #fff2e8;
@tertiary-text: #000000;
@tertiary-border: #f9ede3;
@hover-background: #fff2e8;
@hover-border: #e6dbd2;
@hover-text: #000000;
@selected-background: #ef1e28;
@selected-border: #ef1e28;