@effect: rgba(255, 255, 255, .2);
@default-text: #fff;
@default-border: #666;
@default-background: #4d4d4d;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 4px;
@link-color: #37d6d6;
@alt-text: #fff;
@alt-border: #5f0202;
@alt-background: #2a2a2a;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6em;
@hover-background: #292525;;
@hover-border: #2a2a2a;
@hover-text: #fff;
@hover-border-style: solid;
@active-text: #fff;
@active-border: #2a2a2a;
@active-background: #4d4d4d;
@active-border-style: solid;
@primary-background: #0078f0;
@primary-border: #0078f0;
@primary-text: #fff;
@state-selected-background: #4d4d4d;
@state-selected-border: #0078f0;
@disabled-color: #574f4f;
@disabled-background: #141312;
@disabled-border: #574f4f;
@header: #000000;
@header-alt: #4d4d4d;
@header-text: #fff;
@button-text: #fff;
@font: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --effect: @effect;
	--default-text: @default-text;
  --default-border: @default-border;
  --default-background: @default-background;
  --default-border-style: @default-border-style;
  --default-border-width: @default-border-width;
  --default-border-radius: @default-border-radius;
  --link-color: @link-color;
  --alt-text: @alt-text;
  --alt-border: @alt-border;
  --alt-background: @alt-background;
  --alt-border-style: @alt-border-style;
  --alt-border-width: @alt-border-width;
  --alt-border-radius: @alt-border-radius;
  --hover-background: @hover-background;
  --hover-border: @hover-border;
  --hover-text: @hover-text;
  --hover-border-style: @hover-border-style;
  --active-text: @active-text;
  --active-border: @active-border;
  --active-background: @active-background;
  --active-border-style: @active-border-style;
  --primary-border: @primary-border;
  --primary-background: @primary-background;
  --primary-text: @primary-text;
  --state-selected-background: @state-selected-background;
  --state-selected-border: @state-selected-border;
  --disabled-color: @disabled-color;
  --disabled-background: @disabled-background;
  --disabled-border: @disabled-border;
  --header: @header;
  --header-alt: @header-alt;
  --header-text: @header-text;
  --button-text: @button-text;
  --font: @font;
}