@active-background: #f8e839;
@active-border: #666666;
@active-border-style: solid;
@active-text: #333333;
@alt-background: #272407;
@alt-border: #cccccc;
@alt-border-radius: 0.6em;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-text: #ffffff;
@button-text: #ffffff;
@default-background: #000000;
@default-border: #999999;
@default-border-radius: 4px;
@default-border-style: solid;
@default-border-width: 1px;
@default-text: #fff;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@disabled-color: #c3c3c3;
@effect: rgba(255, 255, 255, .2);
@header: #272407;
@header-alt: #f8e839;
@header-alt-text: #333333;
@header-text: #ffffff;
@hover-background: #f8e839;
@hover-border: #cccccc;
@hover-border-style: solid;
@hover-text: #333333;
@link-color: #8d8311;
@primary-background: #fcec3c;
@primary-border: #f8e839;
@primary-text: #000000;
@secondary-background: #C9351C;
@secondary-border: #B22222;
@secondary-text: #fff;
@state-selected-background: #4d4d4d;
@state-selected-border: #8d8311;
@state-selected-text: #ffffff;
@tertiary-background: #085f12;
@tertiary-border: #ffffff;
@tertiary-text: #fff;
@text-size: ~"calc(8px + 0.5vmin)";
@font: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --active-background: @active-background;
  --active-border: @active-border;
  --active-border-style: @active-border-style;
  --active-text: @active-text;
  --alt-background: @alt-background;
  --alt-border: @alt-border;
  --alt-border-radius: @alt-border-radius;
  --alt-border-style: @alt-border-style;
  --alt-border-width: @alt-border-width;
  --alt-text: @alt-text;
  --button-text: @button-text;
  --default-background: @default-background;
  --default-border: @default-border;
  --default-border-radius: @default-border-radius;
  --default-border-style: @default-border-style;
  --default-border-width: @default-border-width;
	--default-text: @default-text;
  --disabled-background: @disabled-background;
  --disabled-border: @disabled-border;
  --disabled-color: @disabled-color;
  --effect: @effect;
  --header: @header;
  --header-alt: @header-alt;
  --header-alt-text: @header-alt-text;
  --header-text: @header-text;
  --hover-background: @hover-background;
  --hover-border: @hover-border;
  --hover-border-style: @hover-border-style;
  --hover-text: @hover-text;
  --link-color: @link-color;
  --primary-background: @primary-background;
  --primary-border: @primary-border;
  --primary-text: @primary-text;
  --secondary-background: @secondary-background;
  --secondary-border: @secondary-border;
  --secondary-text: @secondary-text;
  --state-selected-background: @state-selected-background;
  --state-selected-border: @state-selected-border;
  --state-selected-text: @state-selected-text;
  --tertiary-background: @tertiary-background;
  --tertiary-border: @tertiary-border;
  --tertiary-text: @tertiary-text;
  --text-size: @text-size;
  --font: @font;
}