@effect: rgba(255, 255, 255, .2);
@default-text: #fff;
@default-border: #4d4d4d;
@default-background: #221f1f;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 4px;
@link-color: #fd9b5c;
@alt-text: #ddd;
@alt-border: #05386B;
@alt-background: #2a2a2a;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6rem;
@hover-background: #292525;;
@hover-border: #2a2a2a;
@hover-text: #0078f0;
@active-text: #fd9b5c;
@active-border: #2a2a2a;
@active-background: #4d4d4d;
@primary-background: #0078f0;
@primary-border: #0078f0;
@primary-text: #fff;
@secondary-background: @orange;
@secondary-border: @orange;
@secondary-text: #fff;
@selected-background: #4d4d4d;
@selected-border: #0078f0;
@selected-text: #0078f0;
@header-background: #000;
@header-alt: #4d4d4d;
@header-text: #fff;
@button-text: #fff;
@disabled-color: #4d4d4d;
@disabled-background: #2a2a2a;
@disabled-border: #2a2a2a;
@shadow-text: #ddd8;
@shadow-box: #ddd8;
@font: 'OpenSans';
