// Opposite of default.less
@link-color: #c0ae4a;
@default-text: #d1d1d1;
@alt-text: #d1d1d1;
@primary-text: #000000;
@secondary-text: #000000;
@tertiary-text: #000000;
@header-alt-text: #666666;
@header-text: #d1d1d1;
@default-background: #000000;
@alt-background: #080606;
@primary-background: #0094e7;
@secondary-background: #ac8670;
@tertiary-background: #524473;
@header-background: #151212;
@header-alt-background: #474949;
@default-border: #2a2a2a;
@alt-border: #2a2a2a;
@primary-border: #1badff;
@secondary-border: #f68b4c;
@tertiary-border: #7d6899;
@button-text: #d1d1d1;
@hover-text: #d1d1d1;
@hover-border: #494949;
@hover-background: #434b4f;
@active-text: #d1d1d1;
@active-border: #494949;
@active-background: #363e4c;
@selected-text: #000000;
@selected-background: #0ca7ff;
@selected-border: #00a1ff;
@disabled-text: #3c3c3c;
@disabled-background: #121415;
@disabled-border: #353535;
@success-background: #353535;
@error-background: #000000;
@success-atl-background: #000000;
