@alt-text: #999898;
@default-text: #565252;
@default-border: #565252;
@default-background: #EDEDED;
@tertiary-text: #767272;




/** Default configuration*/
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0.4em;
@alt-border: #d5d5d5;
@alt-background: #eae8e8;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6em;
@primary-border: #CB897A;
@primary-background: #CB897A;
@primary-text: #fff;
@secondary-border: #B22222;
@secondary-background: #C9351C;
@secondary-text: #fff;
@tertiary-border: #0974B3;
@tertiary-background: #1AABFF;
@link-color: #3f51b5;
@hover-background: #bcb4b0;
@hover-border: #b6b6b6;
@hover-text: #2e2e2e;
@hover-border-style: solid;
@active-text: #2e2e2e;
@active-border: #b6b6b6;
@active-background: #C9C1B3;
@active-border-style: solid;
@state-selected-text: #fff;
@state-selected-background: #CB897A;
@state-selected-border: #CB897A;
@state-selected-text: #fff;
@disabled-color: #c3c3c3;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@header: #eae8e8;
@header-alt: #B8B6B6;
@header-alt-text: #999;
@header-text: #2e2e2e;
@success-text: #00a03e;
@error-text: #db3340;
@success-alt-text: #00a03e;
@error-alt-text: #db3340;
@error-border: #db3340 ridge 2px;
//@text-size: ~"calc(8px + 0.5vmin)";
@text-size: 13px;
@button-text: #2e2e2e;
@effect: rgba(255, 255, 255, .4);
@line-height: 1.7em;
@line-height-mobile: 2em;
@black: #000000;
@anthracite: #454545;
@orange: #ff9900;
@red: #db3340;
@green: #00a03e;
@blue: #6e9ecf;
@yellow: #fdf200;
@beige: #fdfdfd;
@white: #ffffff;
@purple: #a333c8;
@grey: #d3d3d3;
@brown: #8c6954;
@olive: #92b06a;
@pink: #eb65a0;
@turquoise: #1fda9a;
@cyan: #00c8f8;
@navy: #354458;
@darkgrey: #5a6a62;
@lightgrey: #dcdcdc;
@teal: #009688;
@indigo: #3f51b5;
@palegreen: #ccffcc;
@pastelgreen: #e2efda;
@pastelorange: #fff2cc;
@pastelblue: #ddebf6;
@webblue: #2196f3;
@font: 'Helvetica', 'Arial', sans-serif;

:root {
	--default-text: @default-text;
  --default-border: @default-border;
  --default-background: @default-background;
  --default-border-style: @default-border-style;
  --default-border-width: @default-border-width;
  --default-border-radius: @default-border-radius;
  --alt-text: @alt-text;
  --alt-border: @alt-border;
  --alt-background: @alt-background;
  --alt-border-style: @alt-border-style;
  --alt-border-width: @alt-border-width;
  --alt-border-radius: @alt-border-radius;
  --primary-border: @primary-border;
  --primary-background: @primary-background;
  --primary-text: @primary-text;
  --secondary-border: @secondary-border;
  --secondary-background: @secondary-background;
  --secondary-text: @secondary-text;
  --tertiary-border: @tertiary-border;
  --tertiary-background: @tertiary-background;
  --tertiary-text: @tertiary-text;
  --link-color: @link-color;
  --hover-background: @hover-background;
  --hover-border: @hover-border;
  --hover-text: @hover-text;
  --hover-border-style: @hover-border-style;
  --active-text: @active-text;
  --active-border: @active-border;
  --active-background: @active-background;
  --active-border-style: @active-border-style;
  --state-selected-background: @state-selected-background;
  --state-selected-border: @state-selected-border;
  --state-selected-text: @state-selected-text;
  --disabled-color: @disabled-color;
  --disabled-background: @disabled-background;
  --disabled-border: @disabled-border;
  --header: @header;
  --header-alt: @header-alt;
  --header-alt-text: @header-alt-text;
  --header-text: @header-text;
  --success-text: @success-text;
  --error-text: @error-text;
  --success-alt-text: @success-alt-text;
  --error-alt-text: @error-alt-text;
  --error-border: @error-border;
  --text-size: @text-size;
  --button-text: @button-text;
  --effect: @effect;
  --line-height: @line-height;
  --line-height-mobile: @line-height-mobile;
  --black: @black;
  --anthracite: @anthracite;
  --orange: @orange;
  --red: @red;
  --green: @green;
  --blue: @blue;
  --yellow: @yellow;
  --beige: @beige;
  --white: @white;
  --purple: @purple;
  --grey: @grey;
  --brown: @brown;
  --olive: @olive;
  --pink: @pink;
  --turquoise: @turquoise;
  --cyan: @cyan;
  --navy: @navy;
  --darkgrey: @darkgrey;
  --lightgrey: @lightgrey;
  --teal: @teal;
  --indigo: @indigo;
  --palegreen: @palegreen;
  --pastelgreen: @pastelgreen;
  --pastelorange: @pastelorange;
  --pastelblue: @pastelblue;
  --webblue: @webblue;
  --font: @font;
}