@default-text: #B7C5D3;
@default-border: #293540;
@default-background: #1a2127;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 2px;
@alt-text: #718CA1;
@alt-border: #1D252C;
@alt-background: #1D252C;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 4px;
@hover-background: #40444f;
@hover-border: #40444f;
@hover-text: #fff;
@active-text: #171e28;
@active-border: #232d36;
@active-background: #33CEB4;
@primary-background: #008B94;
@primary-border: #008B94;
@selected-background: #e6af4b;
@selected-border: #e6af4b;
@button-text: #b3aca9;
@header-background: #1a2127;
@header-alt-background: #1D252C;
@header-text: #fff;
@effect: rgba(255, 255, 255, .2);
@font: 'Roboto';
