@active-background: #e6bc4b;
@active-border: #30353b;
@active-border-style: solid;
@active-text: #30353b;
@alt-background: #243040;
@alt-border: #243040;
@alt-border-radius: 2px;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-text: #fcfcf5;
@button-text: #f5f2e6;
@default-background: #1d2633;
@default-border: #1d2633;
@default-border-radius: 2px;
@default-border-style: solid;
@default-border-width: 1px;
@default-text: #fffcf0;
@disabled-background: #c3c3c3;
@disabled-border: #cacaca;
@disabled-color: #c3c3c3;
@effect: rgba(255, 255, 255, .6);
@header: #232d36;
@header-alt: #0080f4;
@header-alt-text: #30353b;
@header-text: #fffcf0;
@hover-background: #4b4e56;
@hover-border: #4b4e56;
@hover-border-style: solid;
@hover-text: #f5f2e6;
@link-color: #e6bc4b;
@primary-background: #e6bc4b;
@primary-border: #e6bc4b;
@primary-text: #fffcf0;
@secondary-background: #ceb5b1;
@secondary-border: #bd7070;
@secondary-text: #30353b;
@state-selected-background: #e6bc4b;
@state-selected-border: #e6bc4b;
@state-selected-text: #fffcf0;
@tertiary-background: #bdd7ba;
@tertiary-border: #84d07d;
@tertiary-text: #2e2e2e;
@text-size: ~"calc(8px + 0.5vmin)";



@lightest-default-background: #394A64;
@light-default-background: #263243;
@dark-default-background: #141A23;

@lightest-alt-background: #9CAEC7;
@light-alt-background: #1D2633;
@dark-alt-background: #1D2633;

@lightest-primary-background: #FBF3DF;
@light-primary-background: #F2DDA5;
@dark-primary-background: #E3B435;
@font: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root {
  --active-background: @active-background;
  --active-border: @active-border;
  --active-border-style: @active-border-style;
  --active-text: @active-text;
  --alt-background: @alt-background;
  --alt-border: @alt-border;
  --alt-border-radius: @alt-border-radius;
  --alt-border-style: @alt-border-style;
  --alt-border-width: @alt-border-width;
  --alt-text: @alt-text;
  --button-text: @button-text;
  --default-background: @default-background;
  --default-border: @default-border;
  --default-border-radius: @default-border-radius;
  --default-border-style: @default-border-style;
  --default-border-width: @default-border-width;
  --default-text: @default-text;
  --disabled-background: @disabled-background;
  --disabled-border: @disabled-border;
  --disabled-color: @disabled-color;
  --effect: @effect;
  --header: @header;
  --header-alt: @header-alt;
  --header-alt-text: @header-alt-text;
  --header-text: @header-text;
  --hover-background: @hover-background;
  --hover-border: @hover-border;
  --hover-border-style: @hover-border-style;
  --hover-text: @hover-text;
  --link-color: @link-color;
  --primary-background: @primary-background;
  --primary-border: @primary-border;
  --primary-text: @primary-text;
  --secondary-background: @secondary-background;
  --secondary-border: @secondary-border;
  --secondary-text: @secondary-text;
  --state-selected-background: @state-selected-background;
  --state-selected-border: @state-selected-border;
  --state-selected-text: @state-selected-text;
  --tertiary-background: @tertiary-background;
  --tertiary-border: @tertiary-border;
  --tertiary-text: @tertiary-text;
  --text-size: @text-size;
  --lightest-default-background: @lightest-default-background;
  --light-default-background: @light-default-background;
  --dark-default-background: @dark-default-background;
  --lightest-alt-background: @lightest-alt-background;
  --light-alt-background: @light-alt-background;
  --dark-alt-background: @dark-alt-background;
  --lightest-primary-background: @lightest-primary-background;
  --light-primary-background: @light-primary-background;
  --dark-primary-background: @dark-primary-background;
  --font: @font;
}