@alt-text: #999898;
@default-text: #565252;
@default-border: #565252;
@default-background: #EDEDED;
@tertiary-text: #767272;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0.4rem;
@alt-border: #d5d5d5;
@alt-background: #eae8e8;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6rem;
@primary-border: #CB897A;
@primary-background: #CB897A;
@primary-text: #fff;
@secondary-border: #B22222;
@secondary-background: #C9351C;
@secondary-text: #fff;
@tertiary-border: #0974B3;
@tertiary-background: #1AABFF;
@link-color: #3f51b5;
@hover-background: #bcb4b0;
@hover-border: #b6b6b6;
@hover-text: #2e2e2e;
@active-text: #2e2e2e;
@active-border: #b6b6b6;
@active-background: #C9C1B3;
@selected-text: #fff;
@selected-background: #CB897A;
@selected-border: #CB897A;
@selected-text: #fff;
@disabled-text: #c3c3c3;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@header-background: #eae8e8;
@header-alt-background: #B8B6B6;
@header-alt-text: #999;
@header-text: #2e2e2e;
@success-text: #00a03e;
@error-text: #db3340;
@success-alt-text: #00a03e;
@error-alt-text: #db3340;
@error-border: #db3340 ridge 2px;
@text-size: ~"max(12px, calc(6px + 0.6vw + 0.3vh))";
@button-text: #2e2e2e;
@effect: rgba(255, 255, 255, .4);
@line-height: 1.7rem;
@line-height-mobile: 2rem;
@font: 'Lato';
