@default-text: #454545;
@default-border: #DCDCDC;
@default-background: #fff;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0;
@alt-text: #2e2e2e;
@alt-border: #d5d5d5;
@alt-background: #eae8e8;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6rem;
@primary-border: #000;
@primary-background: #BBB;
@primary-text: #fff;
@secondary-border: #B22222;
@secondary-background: #C9351C;
@secondary-text: #fff;
@tertiary-border: #0974B3;
@tertiary-background: #1AABFF;
@tertiary-text: #fff;
@link-color: #454545;
@header-background: #eae8e8;
@header-alt-background: #B8B6B6;
@header-alt-text: #999;
@header-text: #2e2e2e;
@text-size: 15px;
@space: 1rem;
@lspace: 2rem;
@xlspace: 4rem;
@xxlspace: 8rem;
@sspace: 0.5rem;
@xsspace: 0.25rem;
@xxsspace: 0.125rem;
@button-text: #2e2e2e;
@effect: rgba(255, 255, 255, .4);
@line-height: 1.7rem;
@line-height-mobile: 2rem;
@hover-background: inherit;
@hover-border: #2e2e2e;
@hover-text: #2e2e2e;
@active-text: #2e2e2e;
@active-border: #2e2e2e;
@active-background: inherit;
@selected-text: #fff;
@selected-background: #2e2e2e;
@selected-border: #2e2e2e;
@disabled-text: #c3c3c3;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@success-text: #00a03e;
@success-background: #cacaca;
@success-border: #00a03e;
@error-text: #db3340;
@error-background: #cacaca;
@error-border: #db3340;
@success-alt-text: #00a03e;
@success-alt-background: #cacaca;
@success-alt-border: #00a03e;
@error-alt-text: #db3340;
@error-alt-border: #db3340;
