@default-text: #fff;
@default-border: #27ae89;
@default-background: #2e2e2e;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0px;
@alt-text: #fff;
@alt-border: #27ae89;
@alt-background: #2e2e2e;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 2px;
@hover-background: #a7d7c9;
@hover-border: #38d2a8;
@hover-text: #2e2e2e;
@hover-border-style: solid;
@active-text: #2e2e2e;
@active-border: #27ae89;
@active-background: #27ae89;
@active-border-style: solid;
@primary-background: #27ae89;
@primary-border: #27ae89;
@primary-text: #2e2e2e;
@state-selected-background: #87e4ca;
@state-selected-border: #87e4ca;
@button-text: #2e2e2e;
@header: #38d2a8;
@header-alt: #fff;
@header-text: #2e2e2e;
@effect: rgba(255, 255, 255, .6);
@font: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --default-text: @default-text;
  --default-border: @default-border;
  --default-background: @default-background;
  --default-border-style: @default-border-style;
  --default-border-width: @default-border-width;
  --default-border-radius: @default-border-radius;
  --alt-text: @alt-text;
  --alt-border: @alt-border;
  --alt-background: @alt-background;
  --alt-border-style: @alt-border-style;
  --alt-border-width: @alt-border-width;
  --alt-border-radius: @alt-border-radius;
  --hover-background: @hover-background;
  --hover-border: @hover-border;
  --hover-text: @hover-text;
  --hover-border-style: @hover-border-style;
  --active-text: @active-text;
  --active-border: @active-border;
  --active-background: @active-background;
  --active-border-style: @active-border-style;
  --primary-border: @primary-border;
  --primary-background: @primary-background;
  --primary-text: @primary-text;
  --state-selected-background: @state-selected-background;
  --state-selected-border: @state-selected-border;
  --button-text: @button-text;
  --header: @header;
  --header-alt: @header-alt;
  --header-text: @header-text;
  --effect: @effect;
  --font: @font;
}