
@font-face {
    font-family:"Open Sans Black Italic";
    src:url("OpenSans-BlackItalic.woff2") format("woff2"),url("OpenSans-BlackItalic.woff") format("woff"),url("OpenSans-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        