
@font-face {
    font-family:"Roboto Condensed Light Italic";
    src: local("RobotoCondensed"), url("RobotoCondensed-LightItalic.woff2") format("woff2");
    font-style:normal;font-weight:400;
}
        