
@font-face {
    font-family:"Source Sans Pro Black Italic";
    src: local("SourceSansPro"), url("SourceSansPro-BlackItalic.woff2") format("woff2");
    font-style:normal;font-weight:400;
}
        