
@font-face {
    font-family:"Source Sans Pro Light Italic";
    src: local("SourceSansPro"), url("SourceSansPro-LightItalic.woff2") format("woff2");
    font-style:normal;font-weight:400;
}
        