
@font-face {
    font-family:"Source Sans Pro SemiBold Italic";
    src: local("SourceSansPro"), url("SourceSansPro-SemiBoldItalic.woff2") format("woff2");
    font-style:normal;font-weight:400;
}
        