/* latin-ext */
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-Black.woff2") format("woff2");
  font-style:normal;
  font-weight:800;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-BlackItalic.woff2") format("woff2");
  font-style:italic;
  font-weight:800;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-Bold.woff2") format("woff2");
  font-style:normal;
  font-weight:600;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-BoldItalic.woff2") format("woff2");
  font-style:italic;
  font-weight:600;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-Italic.woff2") format("woff2");
  font-style:italic;
  font-weight:400;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-Regular.woff2") format("woff2");
  font-style:normal;
  font-weight:400;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-Light.woff2") format("woff2");
  font-style:normal;
  font-weight:200;
}
@font-face {
  font-family:"OpenSans";
  src: local("OpenSans"), url("../../fonts/@{font}/@{font}-LightItalic.woff2") format("woff2");
  font-style:normal;
  font-weight:200;
}
:root {
  --mobile-limit: @mq-mobile-limit;
  --bold: @bold;
  --font: @font;
  --nospace: @nospace;
  --space: @space;
  --lspace: @lspace;
  --xlspace: @xlspace;
  --xxlspace: @xxlspace;
  --sspace: @sspace;
  --xsspace: @xsspace;
  --xxsspace: @xxsspace;
  --radius: @radius;
  --lradius: @lradius;
  --sradius: @sradius;
  --noradius: @noradius;
  --effect: @effect;
  --text-size: @text-size;
  --link-color: @link-color;
  --shadow-text: @shadow-text;
  --shadow-box: @shadow-box;
  --default-text: @default-text;
  --alt-text: @alt-text;
  --primary-text: @primary-text;
  --secondary-text: @secondary-text;
  --tertiary-text: @tertiary-text;
  --header-text: @header-text;
  --default-background: @default-background;
  --alt-background: @alt-background;
  --primary-background: @primary-background;
  --secondary-background: @secondary-background;
  --tertiary-background: @tertiary-background;
  --default-border: @default-border;
  --alt-border: @alt-border;
  --primary-border: @primary-border;
  --secondary-border: @secondary-border;
  --tertiary-border: @tertiary-border;
  --button-text: @button-text;
  --line-height: @line-height;
  --header-background: @header-background;
  --hover-text: @hover-text;
  --hover-border: @hover-border;
  --hover-background: @hover-background;
  --active-text: @active-text;
  --active-border: @active-border;
  --active-background: @active-background;
  --selected-text: @selected-text;
  --selected-background: @selected-background;
  --selected-border: @selected-border;
  --disabled-text: @disabled-text;
  --disabled-background: @disabled-background;
  --disabled-border: @disabled-border;
  --success-text: @success-text;
  --success-background: @success-background;
  --success-border: @success-border;
  --info-text: @info-text;
  --info-background: @info-background;
  --info-border: @info-border;
  --warning-text: @warning-text;
  --warning-background: @warning-background;
  --warning-border: @warning-border;
  --error-text: @error-text;
  --error-background: @error-background;
  --error-border: @error-border;
  --header-alt-text: @header-alt-text;
  --line-height-mobile: @line-height-mobile;
  --header-alt-background: @header-alt-background;
  --success-alt-text: @success-alt-text;
  --success-atl-background: @success-atl-background;
  --success-alt-border: @success-alt-border;
  --error-alt-text: @error-alt-text;
  --error-alt-border: @error-alt-border;
  --default-border-style: @default-border-style;
  --alt-border-style: @alt-border-style;
  --default-border-width: @default-border-width;
  --alt-border-width: @alt-border-width;
  --default-border-radius: @default-border-radius;
  --alt-border-radius: @alt-border-radius;
}
