:root {
  --vh: 1vh;
  --vw: 1vw;
  --mobile-limit: @mobile-limit;
  --default-text: @default-text;
  --default-border: @default-border;
  --default-background: @default-background;
  --default-border-style: @default-border-style;
  --default-border-width: @default-border-width;
  --default-border-radius: @default-border-radius;
  --alt-text: @alt-text;
  --alt-border: @alt-border;
  --alt-background: @alt-background;
  --alt-border-style: @alt-border-style;
  --alt-border-width: @alt-border-width;
  --alt-border-radius: @alt-border-radius;
  --primary-border: @primary-border;
  --primary-background: @primary-background;
  --primary-text: @primary-text;
  --secondary-border: @secondary-border;
  --secondary-background: @secondary-background;
  --secondary-text: @secondary-text;
  --tertiary-border: @tertiary-border;
  --tertiary-background: @tertiary-background;
  --tertiary-text: @tertiary-text;
  --link-color: @link-color;
  --hover-background: @hover-background;
  --hover-border: @hover-border;
  --hover-text: @hover-text;
  --active-text: @active-text;
  --active-border: @active-border;
  --active-background: @active-background;
  --selected-background: @selected-background;
  --selected-border: @selected-border;
  --selected-text: @selected-text;
  --disabled-color: @disabled-color;
  --disabled-background: @disabled-background;
  --disabled-border: @disabled-border;
  --header: @header;
  --header-alt: @header-alt;
  --header-alt-text: @header-alt-text;
  --header-text: @header-text;
  --success-text: @success-text;
  --success-background: @success-background;
  --success-border: @success-border;
  --error-text: @error-text;
  --error-background: @error-background;
  --success-alt-text: @success-alt-text;
  --error-alt-text: @error-alt-text;
  --error-border: @error-border;
  --text-size: @text-size;
  --button-text: @button-text;
  --effect: @effect;
  --line-height: @line-height;
  --line-height-mobile: @line-height-mobile;
  --nospace: @nospace;
  --space: @space;
  --lspace: @lspace;
  --xlspace: @xlspace;
  --xxlspace: @xxlspace;
  --sspace: @sspace;
  --xsspace: @xsspace;
  --xxsspace: @xxsspace;
  --black: @black;
  --anthracite: @anthracite;
  --orange: @orange;
  --red: @red;
  --green: @green;
  --blue: @blue;
  --yellow: @yellow;
  --beige: @beige;
  --white: @white;
  --purple: @purple;
  --grey: @grey;
  --brown: @brown;
  --olive: @olive;
  --pink: @pink;
  --turquoise: @turquoise;
  --cyan: @cyan;
  --navy: @navy;
  --darkgrey: @darkgrey;
  --lightgrey: @lightgrey;
  --teal: @teal;
  --indigo: @indigo;
  --palegreen: @palegreen;
  --pastelgreen: @pastelgreen;
  --pastelorange: @pastelorange;
  --pastelblue: @pastelblue;
  --webblue: @webblue;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
::after,
::before {
  box-sizing: border-box
}

:root {
  -moz-tab-size: 4;
  tab-size: 4
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}

hr {
  height: 0
}

abbr[title] {
  text-decoration: underline dotted
}

b,
strong {
  font-weight: @bold;
}

code,
kbd,
pre,
samp {
  font-family: FiraCode, monospace;
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  color: inherit;
  background-color: inherit;
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted @button-text
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  padding: 0
}

progress {
  vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

html {
  width: 100%;
  font-size: @text-size;
  height: 100%;
}

.bbn-reset {
  color: @default-text;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: unset;
  font-variant: unset;
  text-transform: unset;
  font-size: @text-size;
  font-family: @font;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  /*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
  /*
  *,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
  */
}

body {
  transition: opacity 1s;
  .bbn-reset;
}

html,
body {
  font-family: @font;
}

a,
.bbn-link {
  outline-style: none;
  text-decoration: none;
  color: @link-color;
  cursor: pointer;
}

table {
  font-size: inherit;
}

td {
  vertical-align: top;
}

input,
select,
textarea {
  font-size: 100%;
}

hr {
  clear: both;
}

.bbn-no-reset {
  font-size: 1em;
  p {
    padding: 0.5em;
  }

  ul {
    margin: 0.5em 3em;
  }

  li {
    list-style: disc;
  }
}

h1,
h2,
h3,
h4,
h5 {
  clear: both;
  font-weight: @bold;
}

fieldset {
  border-color: @default-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
  border-radius: @default-border-radius;
}

::placeholder {
  opacity: 0.65;
  color: @button-text;
}

ul.bbn-reset {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }

  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-align: inherit;
}

