.bbn-xxxxl,
.bbn-xxxxlarge {
  font-size: 4em !important;
}

.bbn-xxxl,
.bbn-xxxlarge {
  font-size: 2.5em !important;
}

.bbn-xxl,
.bbn-xxlarge {
  font-size: 1.8em !important;
}

.bbn-xl,
.bbn-xlarge {
  font-size: 1.5em !important;
}

.bbn-lg,
.bbn-large {
  font-size: 1.3em !important;
}

.bbn-m,
.bbn-medium {
  font-size: 1.10em !important;
}

.bbn-s,
.bbn-small {
  font-size: 0.85em !important;
}

.bbn-xs,
.bbn-xsmall {
  font-size: 0.75em !important;
}

.bbn-xxs,
.bbn-xxsmall {
  font-size: 0.66em !important;
}

.bbn-alt-text {
  color: @alt-text !important;
}

.bbn-alt-text-internal {
  color: @alt-text;
}

.bbn-text {
  color: @default-text !important;
}

.bbn-text-internal {
  color: @default-text;
}

.bbn-hover-text {
  color: @hover-text !important;
}

.bbn-hover-text-internal {
  color: @hover-text;
}

i.nf:before {
  zoom: 1.3;
  display: inline-block;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.bbn-capital {
  text-transform: capitalize;
}

.bbn-small-caps {
  font-variant: small-caps;
}

.bbn-upper {
  text-transform: uppercase;
}

.bbn-lower {
  text-transform: lowercase;
}

.bbn-b,
.bbn-bold {
  font-weight: 600;
}

.bbn-bolder {
  font-weight: 800;
}

/* italic */
.bbn-i,
.bbn-italic {
  font-style: italic;
}

.bbn-light {
  font-weight: 300;
}

/* underlined */
.bbn-u,
.bbn-underlined {
  text-decoration: underline;
}

.bbn-struck {
  text-decoration: line-through;
}

.bbn-number {
  font-variant-numeric: tabular-nums;
}

.bbn-no-wrap,
.bbn-nowrap {
  white-space: nowrap;
}

.bbn-pre {
  white-space: pre;
}

.bbn-primary-text-alt {
  color: @primary-background !important;
}

.bbn-primary-text-internal {
  color: @primary-text;
}

.bbn-primary-text {
  color: @primary-text !important;
}

.bbn-primary-text-internal {
  color: @primary-text;
}

.bbn-secondary-text-alt {
  color: @secondary-background !important;
}

.bbn-secondary-text-alt-internal {
  color: @secondary-background;
}

.bbn-secondary-text {
  color: @secondary-text !important;
}

.bbn-secondary-text-internal {
  color: @secondary-text;
}

.bbn-tertiary-text-alt {
  color: @tertiary-background !important;
}

.bbn-tertiary-text-alt-internal {
  color: @tertiary-background;
}

.bbn-tertiary-text {
  color: @tertiary-text !important;
}

.bbn-tertiary-text-internal {
  color: @tertiary-text;
}

.bbn-line-height {
  line-height: @line-height  !important;

  .bbn-mobile & {
    line-height: @line-height-mobile  !important;
  }
}

.bbn-line-height-internal {
  line-height: @line-height;

  .bbn-mobile & {
    line-height: @line-height-mobile;
  }
}

.bbn-active-text {
  color: @active-text  !important;
}

.bbn-active-text-internal {
  color: @active-text;
}

.bbn-selected-text {
  color: @selected-text  !important;
}

.bbn-selected-text-internal {
  color: @selected-text;
}

.bbn-disabled-text {
  color: @disabled-color  !important;
}

.bbn-disabled-text-internal {
  color: @disabled-color;
}

.bbn-error-text {
  color: @error-text  !important;
}

.bbn-error-text-internal {
  color: @error-text;
}

.bbn-error-alt-text {
  color: @error-alt-text  !important;
}

.bbn-error-alt-text-internal {
  color: @error-alt-text;
}

.bbn-success-text {
  color: @success-text  !important;
}

.bbn-success-text-internal {
  color: @success-text;
}

.bbn-success-alt-text {
  color: @success-alt-text  !important;
}

.bbn-success-alt-text-internal {
  color: @success-alt-text;
}


.bbn-text-bordered {
  text-shadow: -1px 0 @default-border, 0 1px @default-border, 1px 0 @default-border, 0 -1px @default-border;
}

.bbn-text-bordered-alt {
  text-shadow: -1px 0 @default-text, 0 1px @default-text, 1px 0 @default-text, 0 -1px @default-text;
}

.bbn-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

