/* no border */
.bbn-border-color {
  border-color: @default-border !important;
}

.bbn-border-color-internal {
  border-color: @default-border;
}

.bbn-border-text {
  border-color: @default-text !important;
}

.bbn-border-text-internal {
  border-color: @default-text;
}

.bbn-border-background {
  border-color: @default-background !important;
}

.bbn-border-background-internal {
  border-color: @default-background;
}

.bbn-border-color-alt {
  border-color: @alt-border !important;
}

.bbn-border-color-alt-internal {
  border-color: @alt-border;
}

.bbn-border-text-alt {
  border-color: @alt-text  !important;
}

.bbn-border-text-alt-internal {
  border-color: @alt-text;
}

.bbn-border-background-alt {
  border-color: @alt-background  !important;
}

.bbn-border-background-alt-internal {
  border-color: @alt-background;
}

.bbn-border {
  border-color: @default-border;
  border-width: @default-border-width !important;
  border-style: @default-border-style;
  box-sizing: border-box;
}

.bbn-lborder {
  .bbn-border;
  border-width: ~"calc(@{default-border-width} * 2)" !important;
}

.bbn-sborder {
  .bbn-border;
  border-width: ~"calc(@{default-border-width} / 2)" !important;
}

.bbn-xlborder {
  .bbn-border;
  border-width: ~"calc(@{default-border-width} * 4)" !important;
}

.bbn-border-internal {
  border-color: @default-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
  box-sizing: border-box;
}

.bbn-alt-border {
  border: @alt-border @alt-border-width @alt-border-style  !important;
  box-sizing: border-box;
}

.bbn-alt-border-internal {
  border: @alt-border @alt-border-width @alt-border-style;
  box-sizing: border-box;
}

.bbn-selected-border {
  border: @selected-border @default-border-width @default-border-style  !important;
}

.bbn-primary-border {
  border-color: @primary-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
}

.bbn-secondary-border {
  border-color: @secondary-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
}

.bbn-tertiary-border {
  border-color: @tertiary-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
}

.bbn-border-background-primary {
  border-color: @primary-background !important;
}

.bbn-border-background-primary-internal {
  border-color: @primary-background;
}

.bbn-border-background-secondary {
  border-color: @secondary-background !important;
}

.bbn-border-background-secondary-internal {
  border-color: @secondary-background;
}

.bbn-border-background-tertiary {
  border-color: @tertiary-background !important;
}

.bbn-border-background-tertiary-internal {
  border-color: @tertiary-background;
}

.bbn-border-top {
  border-top: @default-border-width @default-border-style @default-border  !important;
}

.bbn-alt-border-top {
  border-top: @alt-border-width @alt-border-style @alt-border  !important;
}

.bbn-border-bottom {
  border-bottom: @default-border-width @default-border-style @default-border  !important;
}

.bbn-alt-border-bottom {
  border-bottom: @alt-border-width @alt-border-style @alt-border  !important;
}

.bbn-border-left {
  border-left: @default-border-width @default-border-style @default-border  !important;
}

.bbn-alt-border-left {
  border-left: @alt-border-width @alt-border-style @alt-border  !important;
}

.bbn-border-right {
  border-right: @default-border-width @default-border-style @default-border  !important;
}

.bbn-alt-border-right {
  border-right: @alt-border-width @alt-border-style @alt-border  !important;
}

.bbn-border-notop {
  .bbn-border-internal;
  border-width: 0 @default-border-width @default-border-width @default-border-width  !important;
}

.bbn-border-nobottom {
  .bbn-border-internal;
  border-width: @default-border-width @default-border-width 0 @default-border-width  !important;
}

.bbn-border-noleft {
  .bbn-border-internal;
  border-width: @default-border-width @default-border-width @default-border-width 0 !important;
}

.bbn-border-noright {
  .bbn-border-internal;
  border-width: @default-border-width 0 @default-border-width @default-border-width  !important;
}

.bbn-hover-border {
  .bbn-border-internal;
  border-color: @hover-border !important;
}

.bbn-hover-border-internal {
  .bbn-border-internal;
  border-color: @hover-border;
}

.bbn-active-border {
  .bbn-border-internal;
  border-color: @active-border !important;
}

.bbn-active-border-internal {
  .bbn-border-internal;
  border-color: @active-border;
}

.bbn-disabled-border {
  .bbn-border-internal;
  border-color: @disabled-border !important;
}

.bbn-disabled-border-internal {
  .bbn-border-internal;
  border-color: @disabled-border;
}

.bbn-success-border {
  .bbn-border-internal;
  border-color: @success-border !important;
}

.bbn-success-border-internal {
  .bbn-border-internal;
  border-color: @success-border;
}

.bbn-error-border {
  .bbn-border-internal;
  border-color: @error-border !important;
}

.bbn-error-border-internal {
  .bbn-border-internal;
  border-color: @error-border;
}

.bbn-warning-border {
  .bbn-border-internal;
  border-color: @warning-border !important;
}

.bbn-warning-border-internal {
  .bbn-border-internal;
  border-color: @warning-border;
}

.bbn-info-border {
  .bbn-border-internal;
  border-color: @info-border !important;
}

.bbn-info-border-internal {
  .bbn-border-internal;
  border-color: @info-border;
}

.bbn-success-border {
  .bbn-border-internal;
  border-color: @success-border !important;
}

.bbn-success-border-internal {
  .bbn-border-internal;
  border-color: @success-border;
}

.bbn-o,
.bbn-no-border {
  border-width: 0px !important;
  outline: 0;
}

.bbn-o-internal,
.bbn-no-border-internal {
  border-width: 0px !important;
  outline: 0;
}

.bbn-no-border-top {
  border-top-width: 0px !important;
}

.bbn-no-border-bottom {
  border-bottom-width: 0px !important;
}

.bbn-no-border-left {
  border-left-width: 0px !important;
}

.bbn-no-border-right {
  border-right-width: 0px !important;
}

.bbn-no-hborder {
  .bbn-no-border-left;
  .bbn-no-border-right;
}

.bbn-no-vborder {
  .bbn-no-border-top;
  .bbn-no-border-bottom;
}

.bbn-shadow-bottom {
  box-shadow: 0px @sspace @sspace @shadow-box;
}

.bbn-shadow-top {
  box-shadow: 0px calc(@sspace*-1) @sspace @shadow-box;
}

.bbn-shadow-left {
  box-shadow: calc(@sspace*-1) 0px @sspace @shadow-box;
}

.bbn-shadow-right {
  box-shadow: @sspace 0px @sspace @shadow-box;
}

.bbn-shadow-bottom-right {
  box-shadow: @sspace @sspace @sspace @shadow-box;
}

.bbn-shadow-bottom-left {
  box-shadow: calc(@sspace*-1) @sspace @sspace @shadow-box;
}

.bbn-shadow-top-right {
  box-shadow: @sspace calc(@sspace*-1) @sspace @shadow-box;
}

.bbn-shadow-top-left {
  box-shadow: calc(@sspace*-1) calc(@sspace*-1) @sspace @shadow-box;
}

.bbn-shadow {
  .bbn-shadow-bottom-right;
}

.bbn-sshadow-bottom {
  box-shadow: 0px @xsspace @xsspace @shadow-box;
}

.bbn-sshadow-top {
  box-shadow: 0px calc(@xsspace*-1) @xsspace @shadow-box;
}

.bbn-sshadow-left {
  box-shadow: calc(@xsspace*-1) 0px @xsspace @shadow-box;
}

.bbn-sshadow-right {
  box-shadow: @xsspace 0px @xsspace @shadow-box;
}

.bbn-sshadow-bottom-right {
  box-shadow: @xsspace @xsspace @xsspace @shadow-box;
}

.bbn-sshadow-bottom-left {
  box-shadow: calc(@xsspace*-1) @xsspace @xsspace @shadow-box;
}

.bbn-sshadow-top-right {
  box-shadow: @xsspace calc(@xsspace*-1) @xsspace @shadow-box;
}

.bbn-sshadow-top-left {
  box-shadow: calc(@xsspace*-1) calc(@xsspace*-1) @xsspace @shadow-box;
}

.bbn-sshadow {
  .bbn-sshadow-bottom-right;
}

.bbn-lshadow-bottom {
  box-shadow: 0px @space @space @shadow-box;
}

.bbn-lshadow-top {
  box-shadow: 0px calc(@space*-1) @space @shadow-box;
}

.bbn-lshadow-left {
  box-shadow: calc(@space*-1) 0px @space @shadow-box;
}

.bbn-lshadow-right {
  box-shadow: @space 0px @space @shadow-box;
}

.bbn-lshadow-bottom-right {
  box-shadow: @space @space @space @shadow-box;
}

.bbn-lshadow-bottom-left {
  box-shadow: calc(@space*-1) @space @space @shadow-box;
}

.bbn-lshadow-top-right {
  box-shadow: @space calc(@space*-1) @space @shadow-box;
}

.bbn-lshadow-top-left {
  box-shadow: calc(@space*-1) calc(@space*-1) @space @shadow-box;
}

.bbn-lshadow {
  .bbn-lshadow-bottom-right;
}

.bbn-dotted {
  border-style: dotted;
}
.bbn-dashed {
  border-style: dashed;
}
.bbn-ridge {
  border-style: ridge;
}
.bbn-groove {
  border-style: groove;
}

.bbn-border2 {
  border-width: calc(@default-border-width * 2);
}
.bbn-border3 {
  border-width: calc(@default-border-width * 3);
}
.bbn-border4 {
  border-width: calc(@default-border-width * 4);
}