
.bbn-no-padding{
  padding: 0 !important;
}
.bbn-no-hpadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bbn-no-vpadding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.create-rule-padding(@prefix, @name) {
  @cn: "@{prefix}space";
  .bbn-@{prefix}@{name} {
     padding: @@cn;
  }
  .bbn-h@{prefix}@{name} {
    padding-left: @@cn;
    padding-right: @@cn;
  }
  .bbn-v@{prefix}@{name} {
    padding-top: @@cn;
    padding-bottom: @@cn;
  }
  .bbn-top-@{prefix}@{name} {
    padding-top: @@cn;
  }
  .bbn-bottom-@{prefix}@{name} {
    padding-bottom: @@cn;
  }
  .bbn-left-@{prefix}@{name} {
    padding-left: @@cn;
  }
  .bbn-right-@{prefix}@{name} {
    padding-right: @@cn;
  }
  .bbn-@{prefix}@{name}-important {
    padding: @@cn !important;
 }
 .bbn-h@{prefix}@{name}-important {
   padding-left: @@cn !important;
   padding-right: @@cn !important;
 }
 .bbn-v@{prefix}@{name}-important {
   padding-top: @@cn;
   padding-bottom: @@cn !important;
 }
 .bbn-top-@{prefix}@{name}-important {
   padding-top: @@cn !important;
 }
 .bbn-bottom-@{prefix}@{name}-important {
   padding-bottom: @@cn !important;
 }
 .bbn-left-@{prefix}@{name}-important {
   padding-left: @@cn !important;
 }
 .bbn-right-@{prefix}@{name}-important {
   padding-right: @@cn !important;
 }
}
.create-rule-padding(no, padded);
.create-rule-padding(~"", padded);
.create-rule-padding(l, padded);
.create-rule-padding(xl, padded);
.create-rule-padding(xxl, padded);
.create-rule-padding(s, padded);
.create-rule-padding(xs, padded);
.create-rule-padding(xxs, padded);

.create-rule-padding(no, padding);
.create-rule-padding(~"", padding);
.create-rule-padding(l, padding);
.create-rule-padding(xl, padding);
.create-rule-padding(xxl, padding);
.create-rule-padding(s, padding);
.create-rule-padding(xs, padding);
.create-rule-padding(xxs, padding);
