
.bbn-no-padding{
  padding: 0 !important;
}
.bbn-no-hpadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bbn-no-vpadding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@space: 1em;
@lspace: 2em;
@xlspace: 4em;
@xxlspace: 8em;
@sspace: 0.5em;
@xsspace: 0.25em;
@xxsspace: 0.125em;
@space-name: "space";
@padded-name: "padded";
.create-rule-padding(@prefix) {
  @cn: "@{prefix}space";
  .bbn-@{prefix}padded{
     padding: @@cn;
  }
  .bbn-h@{prefix}padded{
    padding-left: @@cn;
    padding-right: @@cn;
  }
  .bbn-v@{prefix}padded{
    padding-top: @@cn;
    padding-bottom: @@cn;
  }
  .bbn-top-@{prefix}padded{
    padding-top: @@cn;
  }
  .bbn-bottom-@{prefix}padded{
    padding-bottom: @@cn;
  }
  .bbn-left-@{prefix}padded{
    padding-left: @@cn;
  }
  .bbn-right-@{prefix}padded{
    padding-right: @@cn;
  }
}
.bbn-padded{
  padding: @space;
}
.bbn-hpadded{
 padding-left: @space;
 padding-right: @space;
}
.bbn-vpadded{
 padding-top: @space;
 padding-bottom: @space;
}
.bbn-top-padded{
 padding-top: @space;
}
.bbn-bottom-padded{
 padding-bottom: @space;
}
.bbn-left-padded{
 padding-left: @space;
}
.bbn-right-padded{
 padding-right: @space;
}

.create-rule-padding(l);
.create-rule-padding(xl);
.create-rule-padding(xxl);
.create-rule-padding(s);
.create-rule-padding(xs);
.create-rule-padding(xxs);
