
.bbn-no-padding{
  padding: 0 !important;
}
.bbn-no-hpadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bbn-no-vpadding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.create-rule-padding(@prefix, @name) {
  @cn: "@{prefix}space";
  .bbn-@{prefix}@{name} {
     padding: @@cn;
  }
  .bbn-h@{prefix}@{name} {
    padding-left: @@cn;
    padding-right: @@cn;
  }
  .bbn-v@{prefix}@{name} {
    padding-top: @@cn;
    padding-bottom: @@cn;
  }
  .bbn-top-@{prefix}@{name} {
    padding-top: @@cn;
  }
  .bbn-bottom-@{prefix}@{name} {
    padding-bottom: @@cn;
  }
  .bbn-left-@{prefix}@{name} {
    padding-left: @@cn;
  }
  .bbn-right-@{prefix}@{name} {
    padding-right: @@cn;
  }
}
.create-rule-padding(~"", padded);
.create-rule-padding(l, padded);
.create-rule-padding(xl, padded);
.create-rule-padding(xxl, padded);
.create-rule-padding(s, padded);
.create-rule-padding(xs, padded);
.create-rule-padding(xxs, padded);
.create-rule-padding(~"", space);
.create-rule-padding(l, space);
.create-rule-padding(xl, space);
.create-rule-padding(xxl, space);
.create-rule-padding(s, space);
.create-rule-padding(xs, space);
.create-rule-padding(xxs, space);

.create-rule-padding(no, padding);
.create-rule-padding(~"", padding);
.create-rule-padding(l, padding);
.create-rule-padding(xl, padding);
.create-rule-padding(xxl, padding);
.create-rule-padding(s, padding);
.create-rule-padding(xs, padding);
.create-rule-padding(xxs, padding);
.create-rule-padding(no, margin);
.create-rule-padding(~"", margin);
.create-rule-padding(l, margin);
.create-rule-padding(xl, margin);
.create-rule-padding(xxl, margin);
.create-rule-padding(s, margin);
.create-rule-padding(xs, margin);
.create-rule-padding(xxs, margin);
