.bbn-no-margin{
  margin: 0 !important;
}
.bbn-no-hmargin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.bbn-no-vmargin{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bbn-hlmargin{
  margin-left: 2rem;
  margin-right: 2rem;
}
.bbn-vlmargin{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bbn-lmargin{
  .bbn-hlmargin;
  .bbn-vlmargin;
}
.bbn-hmargin{
  margin-left: 1rem;
  margin-right: 1rem;
}
.bbn-vmargin{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.bbn-margin{
  .bbn-hmargin;
  .bbn-vmargin;
}
.bbn-hsmargin{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.bbn-vsmargin{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.bbn-smargin{
  .bbn-hsmargin;
  .bbn-vsmargin;
}
.bbn-hxsmargin{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.bbn-vxsmargin{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.bbn-xsmargin{
  .bbn-hxsmargin;
  .bbn-vxsmargin;
}
.create-rule-margin(@prefix, @name) {
  @cn: "@{prefix}space";
  .bbn-@{prefix}@{name} {
     margin: @@cn;
  }
  .bbn-h@{prefix}@{name} {
    margin-left: @@cn;
    margin-right: @@cn;
  }
  .bbn-v@{prefix}@{name} {
    margin-top: @@cn;
    margin-bottom: @@cn;
  }
  .bbn-top-@{prefix}@{name} {
    margin-top: @@cn;
  }
  .bbn-bottom-@{prefix}@{name} {
    margin-bottom: @@cn;
  }
  .bbn-left-@{prefix}@{name} {
    margin-left: @@cn;
  }
  .bbn-right-@{prefix}@{name} {
    margin-right: @@cn;
  }
  .bbn-@{prefix}@{name}-important {
     margin: @@cn !important;
  }
  .bbn-h@{prefix}@{name}-important {
    margin-left: @@cn !important;
    margin-right: @@cn !important;
  }
  .bbn-v@{prefix}@{name}-important {
    margin-top: @@cn !important;
    margin-bottom: @@cn !important;
  }
  .bbn-top-@{prefix}@{name}-important {
    margin-top: @@cn !important;
  }
  .bbn-bottom-@{prefix}@{name}-important {
    margin-bottom: @@cn !important;
  }
  .bbn-left-@{prefix}@{name}-important {
    margin-left: @@cn !important;
  }
  .bbn-right-@{prefix}@{name}-important {
    margin-right: @@cn !important;
  }
}
.create-rule-margin(no, margin);
.create-rule-margin(~"", margin);
.create-rule-margin(l, margin);
.create-rule-margin(xl, margin);
.create-rule-margin(xxl, margin);
.create-rule-margin(s, margin);
.create-rule-margin(xs, margin);
.create-rule-margin(xxs, margin);
.create-rule-margin(~"", space);
.create-rule-margin(l, space);
.create-rule-margin(xl, space);
.create-rule-margin(xxl, space);
.create-rule-margin(s, space);
.create-rule-margin(xs, space);
.create-rule-margin(xxs, space);
