/* centered */

.bbn-c,
.bbn-centered{
  text-align:center;
}
/* justified */
.bbn-j,
.bbn-justified{
  text-align:justify;
}
/* left */
.bbn-l,
.bbn-left{
  text-align:left;
}
/* right */
.bbn-r,
.bbn-right{
  text-align:right;
}
.bbn-contain {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.bbn-middle{
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  text-align: center;
}
.bbn-middle-left{
  display:flex;
  align-items: center; /* Vertical center alignment */
  text-align: left;
  justify-content: flex-start; /* Horizontal left alignment for ltor */
}
.bbn-middle-right{
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-end; /* Horizontal right alignment for ltor */
  text-align: right;
}
.bbn-hmiddle{
  display:flex;
  justify-content: center; /* Horizontal center alignment */
}
.bbn-vmiddle{
  display:flex;
  align-items: center; /* Vertical center alignment */
}
.bbn-block-vmiddle{
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.bbn-line-vmiddle{
  line-height: 100%;
  vertical-align: middle;
  > *{
    vertical-align: middle;
  }
}
.bbn-line-xl{
  line-height: calc(2*@space);
}
.bbn-line-lg{
  line-height: calc(1.5*@space);
}
.bbn-line-xs{
  line-height: calc(0.5*@space);
}
.bbn-line-s{
  line-height: calc(0.75*@space);
}
