.bbn-w-100{
  .bbn-block;
  width: 100%;
  clear: both;
}
.bbn-h-100{
  .bbn-border-box;
  height: 100% !important;
}
.bbn-100{
  .bbn-h-100;
  .bbn-w-100;
}
.create-dimensions-rules(@name, @num) {
  .bbn-@{name}, .bbn-w-@{name} {
    .bbn-block;
    width: @num + ~"%";
  }
  .bbn-w-@{name}.bbn-block-right{
    width: ~"-webkit-calc(" + @num + "% - 2em)";
    width: ~"-moz-calc(" + @num + "% - 2em)";
    width: ~"calc(" + @num + "% - 2em)";
  }
  .bbn-@{name}, .bbn-h-@{name} {
    .bbn-border-box;
    height: @num + ~"%";
  }
  .bbn-padded-@{name}, .bbn-hpadded-@{name} {
    padding-left: @num + ~"%";
    padding-right: @num + ~"%";
  }
  .bbn-padded-@{name}, .bbn-vpadded-@{name} {
    padding-top: @num + ~"%";
    padding-bottom: @num + ~"%";
  }
  .bbn-margin-@{name}, .bbn-hmargin-@{name} {
    margin-left: @num + ~"%";
    margin-right: @num + ~"%";
  }
  .bbn-margin-@{name}, .bbn-vmargin-@{name} {
    margin-top: @num + ~"%";
    margin-bottom: @num + ~"%";
  }
  @media (max-width: calc(@mobile-limit)) {
    .bbn-mobile-@{name}, .bbn-mobile-w-@{name} {
      width: @num + ~"%" !important;
    }
    .bbn-mobile-@{name}, .bbn-mobile-h-@{name} {
      height: @num + ~"%" !important;
    }
  }
}
.create-dimensions-rules(90, 90);
.create-dimensions-rules(80, 80);
.create-dimensions-rules(75, 75);
.create-dimensions-rules(70, 70);
.create-dimensions-rules(66, 66.6666);
.create-dimensions-rules(60, 60);
.create-dimensions-rules(50, 50);
.create-dimensions-rules(40, 40);
.create-dimensions-rules(30, 30);
.create-dimensions-rules(33, 33.3333);
.create-dimensions-rules(25, 25);
.create-dimensions-rules(20, 20);
.create-dimensions-rules(15, 15);
.create-dimensions-rules(10, 10);
.create-dimensions-rules(5, 5);
@media (max-width: @mobile-limit) {
  .bbn-mobile-w-100{
    width: 100%;
    clear: both;
  }
  .bbn-mobile-h-100{
    height: 100% !important;
  }
  .bbn-mobile-100{
    .bbn-h-100;
    .bbn-w-100;
  }
}
.bbn-full-width{
  .bbn-block;
  .bbn-w-100;
}
.bbn-full-height{
  .bbn-block;
  height: 100%;
}
.bbn-narrow{
  width: 8em;
}
.bbn-narrower{
  width: 4em;
}
.bbn-regular{
  width: 12em;
  max-width: 100%;
}
.bbn-wide{
  width: 20em;
  max-width: 100%;
}
.bbn-wider{
  width: 30em;
  max-width: 100%;
}
.bbn-auto-width{
  width: auto !important;
}
.bbn-full-screen{
  box-sizing: border-box;
  .bbn-abs;
  .bbn-top-left;
  .bbn-bottom-right;
}
.bbn-overlay{
  .bbn-full-screen;
  /* Important for Safari
  width: 100%;
  */
  //Safari doesn't work without height 100%
  height: 100%;
  max-width: 100%;
}
/*
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    // Define here the CSS styles applied only to Safari browsers (any version and any device)
    .bbn-full-screen,.bbn-overlay{
      // Important for Safari
    }
}}
*/
.bbn-full-content{
  .bbn-w-100;
  .bbn-h-100;
  .bbn-content;
}
.bbn-transition-width{
  transition:width 0.3s;
}
.bbn-transition-height{
  transition:height 0.3s;
}