.bbn-h,
.bbn-hidden {
  display: none;
}

/* No opacity */
.bbn-invisible {
  opacity: 0;
}

/* Hidden frame */
iframe.bbn-h,
iframe.bbn-hidden {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bbn-hr {
  border: 0;
  border-top: @default-border @default-border-style @default-border-width;
  width: 100%;
  position: relative;
  clear: both;
  margin: @space @nospace;
}

.bbn-hr.bbn-alt {
  border-color: @alt-border;
}

.bbn-hr-m {
  .bbn-hr;
  border-top-width: 2px;
}

.bbn-hr-l {
  .bbn-hr;
  border-top-width: 4px;
}
.bbn-hr-effect {
  .bbn-hr;
  .bbn-background-effect;
  border: 0;
  height: 1px;
}

hr{
  .bbn-hr;
}

.bbn-iblock {
  display: inline-block;
  position: relative;
}

.bbn-left-siconblock {
  display: inline-block;
  width: 1.5rem;
  text-align: left;
}
.bbn-left-iconblock {
  display: inline-block;
  width: 2rem;
  text-align: left;
}
.bbn-left-liconblock {
  display: inline-block;
  width: 2.5rem;
  text-align: left;
}
.bbn-right-siconblock {
  display: inline-block;
  width: 1.5rem;
  text-align: right;
}
.bbn-right-iconblock {
  display: inline-block;
  width: 2rem;
  text-align: right;
}
.bbn-right-liconblock {
  display: inline-block;
  width: 2.5rem;
  text-align: right;
}

.bbn-iflex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

.bbn-flex {
  display: -webkit-box !important;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important;
  /* TWEENER - IE 10 */
  display: -webkit-flex !important;
  /* NEW - Chrome */
  display: flex !important;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.bbn-flex-wrap {
  .bbn-flex;
  flex-wrap: wrap;
}

.bbn-flex-items {
  .bbn-flex;
  flex-wrap: wrap;
  gap: @sspace;
}

.bbn-flex-row {
  .bbn-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.bbn-flex-rrow {
  .bbn-flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.bbn-flex-column {
  .bbn-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.bbn-flex-rcolumn {
  .bbn-flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.bbn-flex-width {
  .bbn-flex-row;
  width: 100%;
  max-width: inherit;

  &.bbn-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  /** @todo Why this rule? Fucking up the bbn-block-right
  > *:not(.bbn-flex-fill) {
    flex-shrink: 0;
  }
  */
}

.bbn-iflex-row {
  .bbn-iflex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.bbn-iflex-rrow {
  .bbn-iflex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.bbn-iflex-column {
  .bbn-iflex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.bbn-iflex-rcolumn {
  .bbn-iflex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.bbn-iflex-width {
  .bbn-iflex-row;
  width: 100%;

  &.bbn-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.bbn-flex-height {
  .bbn-flex-column;
  max-height: inherit;
  height: 100%;

  &.bbn-reverse {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

}

.bbn-iflex-height {
  .bbn-iflex-column;
  &.bbn-reverse {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

}

.bbn-flex-fill {
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
}

.bbn-button-group {
  .bbn-flex-width;
  border-radius: @default-border-radius;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: center;
  justify-content: center;
  border-width: 0;

  >.bbn-button {
    //important for safari
    //margin:0;
    .bbn-flex-fill;
    border-radius: 0;

    &:first-child {
      border-radius: @default-border-radius 0 0 @default-border-radius;
    }

    &:last-child {
      border-radius: 0 @default-border-radius @default-border-radius 0;
    }
  }
}

.bbn-flex-hcentered {
  .bbn-flex;
  height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bbn-flex-vcentered {
  .bbn-flex;
  width: 100%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bbn-alt {
  .bbn-alt-background-internal;
  .bbn-alt-bordered-internal;
  .bbn-alt-text-internal;
}

.bbn-spacer {
  display: block;
  position: relative;
  float: left;
  width: 10px;
  min-height: 1px;
}

.bbn-nowrap {
  white-space: nowrap;
}

.bbn-section .bbn-legend {
  position: absolute;
  width: auto;
  white-space: nowrap;
  top: -0.8rem;
  background-color: inherit;
}

.bbn-border-box {
  position: relative;
  box-sizing: border-box !important;
}

.bbn-block {
  .bbn-border-box;
  display: block;
}

.bbn-background .bbn-legend {
  .bbn-background;
}

.bbn-alt-background .bbn-legend {
  .bbn-alt-background;
}

.bbn-section {
  .bbn-bordered-internal;
  .bbn-radius;
  .bbn-border-box;
  display: flex;
  background-image: none;
  background-color: inherit;
  margin: 2rem 1rem 1rem;
  padding: 1rem;

  /* Attempt for nesting forms */
  .bbn-section {
    border-style: dashed;

    .bbn-section {
      border-style: dotted;
    }
  }

  legend,
  .bbn-legend {
    font-weight: @bold;
    font-size: 1.2rem;
    padding: 0 1rem;
    cursor: pointer;
  }
}

.bbn-block-left {
  box-sizing: content-box;
  vertical-align: top;
  min-height: 2rem;
  line-height: 1.5rem;
  position: relative;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-wrap: break-word;
  float: left;
  margin-right: 1rem;
  width: ~"-webkit-calc(50% - 1rem)";
  width: ~"-moz-calc(50% - 1rem)";
  width: ~"calc(50% - 1rem)";
  height: auto;
}

.bbn-block-right {
  box-sizing: content-box;
  vertical-align: top;
  min-height: 2rem;
  line-height: 1.5rem;
  position: relative;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-wrap: break-word;
  float: right !important;
  margin-left: 1rem;
  clear: right !important;
  width: ~"-webkit-calc(50% - 1rem)";
  width: ~"-moz-calc(50% - 1rem)";
  width: ~"calc(50% - 1rem)";
  height: auto;
}

.bbn-no-height {
  height: 0px;
}

.bbn-block-after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.bbn-block-right::after {
  .bbn-block-after;
}

.bbn-content {
  .bbn-border-box;
  overflow: auto;
  .bbn-alt-background;
}

.bbn-line-breaker {
  .bbn-block;
  width: 100%;
  clear: both;
  padding-bottom: 1rem;
}

.bbn-fl {
  .bbn-block;
}

.bbn-nl {
  .bbn-block;
  width: 100%;
  clear: both;
}

.bbn-vspace {
  .bbn-nl;
  height: 1.2rem;
}

.bbn-badge,
.bbn-tag {
  background-color: @black;
  color: @white;
  display: inline-block;
  padding: 0 0.4rem;
  text-align: center;
  font-weight: @bold;
}

.bbn-badge {
  border-radius: 50%
}
.bbn-badge.bbn-bordered {
  color: inherit;
  background-color: transparent;
}

.bbn-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.bbn-stats {
  align-items: center;
  flex-direction: row;

  div {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    box-sizing: content-box;
  }

  .label {
    margin: 0 0 0 0.75rem;
    font-size: 1rem;
  }

  .value {
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1rem;
  }
}

.bbn-masonry {
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-fill: balance;
  column-fill: balance;
}

.bbn-avatar {
  font-style: italic;

  img {
    width: 16px;
    height: auto;
    vertical-align: top;
  }
}

.create-rule-gap(@prefix) {
  @cn: "@{prefix}space";
  .bbn-grid-@{prefix}gap {
    grid-column-gap: calc(@@cn * 2);
    grid-row-gap: @@cn;
  }
  .bbn-grid-internal-@{prefix}gap {
    grid-column-gap: calc(@@cn * 2) !important;
    grid-row-gap: @@cn !important;
  }
}


.bbn-grid {
  display: grid;
  clear: both;
  >.bbn-grid-full {
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  >.bbn-grid-fill {
    grid-column-start: 2;
    grid-column-end: -1;
  }
  >.bbn-grid-fill-third {
    grid-column-start: 3;
    grid-column-end: -1;
  }
  >.bbn-grid-fill-fourth {
    grid-column-start: 4;
    grid-column-end: -1;
  }
}
.create-rule-gap(no);
.create-rule-gap(~"");
.create-rule-gap(l);
.create-rule-gap(xl);
.create-rule-gap(xxl);
.create-rule-gap(s);
.create-rule-gap(xs);
.create-rule-gap(xxs);

.bbn-grid-fields-force {
  //padding: 1rem;
  .bbn-w-100;
  .bbn-grid;
  grid-template-columns: minmax(auto, max-content) auto;
  grid-row-gap: @space;
  grid-column-gap: calc(@space*2);

  >*:not(.bbn-grid-full) {
    height: max-content;
    &::first-line {
      line-height: 1.7rem;
    }
    box-sizing: border-box;
    word-break: normal;

    >.bbn-c,
    >.bbn-centered {
      text-align: center !important;
    }

    &.bbn-r,
    &.bbn-right,
    >.bbn-r,
    >.bbn-right {
      text-align: right !important;
    }

    &.bbn-l,
    &.bbn-left,
    >.bbn-l,
    >.bbn-left {
      text-align: left !important;
    }
  }

  >*:not(label):not(.bbn-label):not(.bbn-grid-full) {
    text-align: left;
  }

  >label,
  >.bbn-label {
    text-align: right;
  }

  &.bbn-l,
  &.bbn-left {
    grid-template-columns: minmax(auto, max-content) auto;

    >* {
      text-align: left;
    }
  }

  &.bbn-r,
  &.bbn-right {
    grid-template-columns: auto minmax(auto, max-content);

    >* {
      text-align: right;
    }
  }

  &.bbn-c,
  &.bbn-centered {
    grid-template-columns: 1fr 1fr;

    >*:not(label):not(.bbn-label):not(.bbn-grid-full) {
      text-align: left;
    }

    >label,
    >.bbn-label {
      text-align: right;
    }
  }

  &.bbn-j,
  &.bbn-justified {
    grid-template-columns: 1fr 1fr;

    >* {
      text-align: justify;
    }
  }

  >.bbn-grid-full {
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  >.bbn-grid-fill {
    grid-column-end: -1;
  }
}

@media (min-width: @mq-mobile-limit) {
  .bbn-grid-fields {
    .bbn-grid-fields-force;
  }
}

@media (max-width: calc(@mq-mobile-limit - 1px)) {
  .bbn-grid-fields:not(.bbn-grid-fields-force) {
    .bbn-w-100;
    > div,
    > label {
      .bbn-w-100;
    }

    > *:not(.bbn-label):not(label) {
      margin-bottom: 1rem;
    }
  }
}

.bbn-nowrap {
  flex-wrap: nowrap;
}

.bbn-container-ratio {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
}
.bbn-container-ratio-inside-internal {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.bbn-container-ratio-4-3 {
  .bbn-container-ratio;
  aspect-ratio: 4/3;
  > *:first {
    .bbn-container-ratio-inside-internal;
  }
}
.bbn-container-ratio-3-4 {
  .bbn-container-ratio;
  aspect-ratio: 3/4;
  > *:first {
    .bbn-container-ratio-inside-internal;
  }
}
.bbn-container-ratio-16-9 {
  .bbn-container-ratio;
  aspect-ratio: 16/9;
  > *:first {
    .bbn-container-ratio-inside-internal;
  }
}
.bbn-container-ratio-9-16 {
  .bbn-container-ratio;
  aspect-ratio: 9/16;
  > *:first {
    .bbn-container-ratio-inside-internal;
  }
}

.bbn-widget {
  .bbn-alt;
  -webkit-appearance: none;
  outline: 0;

  .bbn-table tbody > tr.bbn-alt {
    &:hover {
      td {
        .bbn-alt-background-internal;
      }
    }

    td {
      .bbn-alt-background-internal;
    }
  }

  >.bbn-header {
    .bbn-bordered-bottom;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  >.bbn-footer {
    .bbn-bordered-top;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.bbn-header-buttons {
  i {
    cursor: pointer;
    color: @header-alt-text;
  }

  i:hover,
  i:focus {
    opacity: 1;
    color: @header-text;
  }
}

.bbn-bblock,
.bbn-box {
  .bbn-bordered-internal;
  //I've bbn-alt-bordered also because if bbn-bordered is 0px I don't have border on the inputs DON'T WORKS FOR FLAT THEME

  .bbn-radius;
  .bbn-background-internal;
  .bbn-border-box;
  .bbn-text-internal;
  outline: 0;
  line-height: normal;
}

.bbn-menulist {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  zoom: 1;
  cursor: default;
  outline: 0;
  text-decoration: none;

  li {
    padding: @xsspace @lspace @xsspace @xsspace;
    border-width: 0;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    &.bbn-menuparent {
      padding-right: 3rem;

      i.nf-fa-caret_right {
        position: absolute;
        right: 2px
      }
    }
  }
}

.bbn-textbox {
  .bbn-bordered-internal;
  .bbn-background-internal;
  .bbn-radius;
  color: @default-text;
  vertical-align: middle;
  padding: 0;
  outline: 0;
  position: relative;
  box-sizing: border-box;
  font-family: inherit;
  -webkit-appearance: none;
  line-height: @line-height;
  min-height: @line-height;

  .bbn-mobile & {
    line-height: @line-height-mobile;
    min-height: @line-height-mobile;
  }

  input {
    line-height: 100%;

    .bbn-mobile & {
      line-height: @line-height-mobile;
      min-height: @line-height-mobile;
    }
  }
}


.bbn-header {
  .bbn-alt-bordered-internal;
  //border: none;
  .bbn-background-header-internal;
  color: @header-text;
  position: relative;
  vertical-align: middle;

  /* .bbn-button:not(.bbn-primary):not(:disabled) {
    .bbn-alt-background-internal;
    .bbn-alt-text-internal;
  } */

  .bbn-widget-header-buttons {
    color: @link-color;
  }
}

ul.bbn-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bbn-reactive-block {
  .bbn-bordered-internal;
  .bbn-background-internal;
  color: @button-text;
  box-sizing: border-box;
}

.bbn-reactive-block:hover:not(.bbn-disabled),
.bbn-reactive-block.bbn-hover:not(.bbn-disabled) {
  .bbn-hover-background-internal;
}

.bbn-reactive-block:focus:not(.bbn-disabled),
.bbn-reactive-block:hover:focus:not(.bbn-disabled),
.bbn-reactive-block:focus-within:not(.bbn-disabled),
.bbn-reactive-block:hover:focus-within:not(.bbn-disabled) .bbn-reactive-block:focus:not(:disabled),
.bbn-reactive-block:hover:focus:not(:disabled),
.bbn-reactive-block:focus-within:not(:disabled),
.bbn-reactive-block:hover:focus-within:not(:disabled),
.bbn-reactive-block:focus-within:not(.bbn-disabled) {
  border-color: @selected-border;
}

.bbn-middle-line {
  overflow: hidden;
}

.bbn-middle-line:before,
.bbn-middle-line:after {
  overflow: hidden;
  background-color: @default-text;
  content: "";
  display: inline-block;
  height: @default-border-width;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.bbn-middle-line:before {
  right: 0.5rem;
  margin-left: -50%;
}

.bbn-middle-line:after {
  left: 0.5rem;
  margin-right: -50%;
}

.bbn-middle-line.bbn-alt-text:before,
.bbn-middle-line.bbn-alt-text:after {
  background-color: @alt-text  !important;
}

.bbn-hover-effect-element:hover {
  .bbn-background-effect-hover;
}
.bbn-hover-effect-dark-element:hover {
  .bbn-background-effect-dark-hover;
}

/** @todo Non va!!! */

.bbn-textbox:focus:not(.bbn-disabled),
.bbn-textbox:focus-within:not(.bbn-disabled),
.bbn-textbox:hover:focus:not(.bbn-disabled),
.bbn-textbox:hover:focus-within:not(.bbn-disabled),
input:focus:not(.bbn-disabled),
.bbn-textbox.bbn-focus:not(.bbn-disabled),
.bbn-textbox.bbn-focus-within:not(.bbn-disabled),
input.bbn-focus:not(.bbn-disabled),
input:hover:focus:not(.bbn-disabled),
.bbn-textbox:focus:not(:disabled),
.bbn-textbox:focus-within:not(:disabled),
.bbn-button:not(.bbn-button-right):not(.bbn-button-left):focus,
.bbn-button.bbn-focusnot:not(.bbn-button-right):not(.bbn-button-left),
.bbn-button:not(.bbn-button-right):not(.bbn-button-left):focus-within {
  border-color: @selected-border;
}