.bbn-state-default, a .bbn-state-default{
  color: var(--default-text);
  cursor: pointer;
}
.bbn-state-hover{
  color: var(--hover-text);
  background-color: var(--hover-background);
  border-color: var(--hover-border);
  //.bbn-alt-background-effect-internal;
}

.bbn-state-active{
  .bbn-active-background;
  .bbn-active-text;
  border-color: var(--active-border) !important;
  //contrast(@active-background);
}
.bbn-state-selected{
  .bbn-selected-background;
  .bbn-selected-text;
  border-color: var(--selected-border) !important;
  //contrast(@active-background);
}

.bbn-state-error {
  .bbn-error-border-internal;
  .bbn-error-background-internal;
  .bbn-error-text-internal;
}
.bbn-state-warning {
  .bbn-warning-border-internal;
  .bbn-warning-background-internal;
  .bbn-warning-text-internal;
}
.bbn-state-info {
  .bbn-info-border-internal;
  .bbn-info-background-internal;
  .bbn-info-text-internal;
}
.bbn-state-success {
  .bbn-success-border-internal;
  .bbn-success-background-internal;
  .bbn-success-text-internal;
}
.bbn-rstate-error {
  .bbn-error-border-internal;
  background-color: var(--error-text);
  color: var(--error-background);
}
.bbn-rstate-warning {
  .bbn-warning-border-internal;
  background-color: var(--warning-text);
  color: var(--warning-background);
}
.bbn-rstate-info {
  .bbn-info-border-internal;
  background-color: var(--info-text);
  color: var(--info-background);
}
.bbn-rstate-success {
  .bbn-success-border-internal;
  background-color: var(--success-text);
  color: var(--success-background);
}
.bbn-error-colored {
  color: var(--error-text);
  background-color: var(--default-background);
  border: var(--error-border);
}
.bbn-state-empty{
  font-style: italic;
}
.bbn-state-focus{
  .bbn-border-internal;
  border-style: dotted;
}

.bbn-disabled, .bbn-state-disabled{
  .bbn-disabled-text;
  background-color: var(--disabled-background);
  border-color: var(--disabled-border);
  cursor: default !important;
}

.bbn-reactive {
  .bbn-state-default;
  &:hover:not(.bbn-disabled):not(:disabled),
  &.bbn-hover:not(.bbn-disabled):not(:disabled){
    .bbn-state-hover;
  }
  &:active:not(.bbn-disabled):not(:disabled),
  &.bbn-active:not(.bbn-disabled):not(:disabled){
    .bbn-state-active;
  }
  &:focus:not(.bbn-disabled):not(:disabled),
  &.bbn-focus:not(.bbn-disabled):not(:disabled){
    .bbn-state-active;
  }
}



.bbn-text-state-default{
  cursor: pointer;
  color: var(--default-text);
}
.bbn-text-state-hover{
  color: var(--hover-text);
}

.bbn-text-state-active{
  .bbn-active-text;
}
.bbn-text-state-selected{
  .bbn-selected-text;
}

.bbn-text-state-error {
  .bbn-error-text-internal;
}
.bbn-text-error-colored{
  color: var(--error-text);
}
.bbn-text-state-empty{
  font-style: italic;
}
.bbn-text-state-focus{
  text-decoration: dotted;
}

.bbn-text-disabled, .bbn-text-state-disabled{
  .bbn-disabled-text;
}

.bbn-reactive-text {
  .bbn-text-state-default;
  &:hover:not(.bbn-text-disabled):not(:disabled),
  &.bbn-hover:not(.bbn-text-disabled):not(:disabled){
    .bbn-text-state-hover;
  }
  &:active:not(.bbn-text-disabled):not(:disabled),
  &.bbn-active:not(.bbn-text-disabled):not(:disabled){
    .bbn-text-state-active;
  }
  &:focus:not(.bbn-text-disabled):not(:disabled),
  &.bbn-focus:not(.bbn-text-disabled):not(:disabled){
    .bbn-text-state-active;
  }
}

.bbn-message-internal {
  .bbn-spadding;
  .bbn-vsmargin;
  .bbn-radius;
  .bbn-border-internal;
}
.bbn-message-info {
  .bbn-message-internal;
  .bbn-state-info;
}
.bbn-message-warning {
  .bbn-message-internal;
  .bbn-state-warning;
}
.bbn-message-error {
  .bbn-message-internal;
  .bbn-state-error;
}
.bbn-message-success {
  .bbn-message-internal;
  .bbn-state-success;
}
.bbn-rmessage-info {
  .bbn-message-internal;
  .bbn-rstate-info;
}
.bbn-rmessage-warning {
  .bbn-message-internal;
  .bbn-rstate-warning;
}
.bbn-rmessage-error {
  .bbn-message-internal;
  .bbn-rstate-error;
}
.bbn-rmessage-success {
  .bbn-message-internal;
  .bbn-rstate-success;
}

.bbn-primary {
  .bbn-background-primary;
  color: var(--primary-text) !important;
  border-color: var(--primary-border);
}
.bbn-secondary {
  .bbn-background-secondary;
  color: var(--secondary-text) !important;
  border-color: var(--secondary-border);
}
.bbn-tertiary {
  .bbn-background-tertiary;
  color: var(--tertiary-text) !important;
  border-color: var(--tertiary-border);
}
.bbn-primary:hover:not(.bbn-disabled),.bbn-primary.bbn-hover:not(.bbn-disabled){
  //background: var(--primary-background) !important;
  //.bbn-background-effect-primary-internal;
  color: var(--primary-text) !important;
  border-color: var(--primary-border);
  text-shadow: 0 0 0.1rem var(--primary-text);
}
.bbn-secondary:hover:not(.bbn-disabled),.bbn-secondary.bbn-hover:not(.bbn-disabled){
  color: var(--secondary-text) !important;
  border-color: var(--secondary-border);
  text-shadow: 0 0 0.1rem var(--secondary-text);
}
.bbn-tertiary:hover:not(.bbn-disabled),.bbn-tertiary.bbn-hover:not(.bbn-disabled){
  color: var(--tertiary-text) !important;
  border-color: var(--tertiary-border);
  text-shadow: 0 0 0.1rem var(--tertiary-text);
}
/*
.bbn-primary:active,.bbn-primary.bbn-active{
  .bbn-background-effect-primary-internal;
}
.bbn-secondary:active,.bbn-secondary.bbn-active{
  .bbn-background-effect-secondary-internal;
}
.bbn-tertiary:active,.bbn-tertiary.bbn-active{
  .bbn-background-effect-tertiary-internal;
}
*/
.bbn-primary:disabled,.bbn-primary.bbn-disabled,
.bbn-secondary:disabled,.bbn-secondary.bbn-disabled,
.bbn-tertiary:disabled,.bbn-tertiary.bbn-disabled
{
  opacity: 0.7;
  cursor: default !important;
  outline: 0;
}

@media print{
  .bbn-disabled,
  .bbn-disabled *{
    opacity: 1 !important;
  }
}

:focus{
  outline: 0;
}
.bbn-negative{
  background-color: var(--default-text);
  color: var(--default-background);
}
.bbn-unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.bbn-unselectable *:not(input, textarea) {
  .bbn-unselectable;
}
.bbn-sort-helper{
  position: fixed;
  display: none;
  opacity: 0.5;
}
.bbn-resizable {
  &.bbn-resizable-resizing {
    * {
      pointer-events: none !important;
      .bbn-unselectable;
    }
  }
  &.bbn-resizable-over-left,
  &.bbn-resizable-over-right {
    cursor: ew-resize !important;
  }
  &.bbn-resizable-over-top,
  &.bbn-resizable-over-bottom {
    cursor: ns-resize !important;
  }
  &.bbn-resizable-over-top.bbn-resizable-over-left,
  &.bbn-resizable-over-bottom.bbn-resizable-over-right {
    cursor: nwse-resize !important;
  }
  &.bbn-resizable-over-top.bbn-resizable-over-right,
  &.bbn-resizable-over-bottom.bbn-resizable-over-left {
    cursor: nesw-resize !important;
  }
}

.bbn-no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* mouse pointer */
.bbn-p,
.bbn-pointer {
  cursor: pointer;
}

/** Blinking animation */
.bbn-anim-blink {
  animation: bbn-anim-blinker 1s linear infinite;
}

@keyframes bbn-anim-blinker {
  50% {
    opacity: 0.25;
  }
}

.bbn-anim-dots:after {
  display: inline-block;
  animation: bbn-dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes bbn-dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

