.bbn-component:not(.bbn-component-mounted) {
  opacity: 0;
}
bbn-floater:not(.bbn-floater) {
  display: none;
}
button, .bbn-button {
  .bbn-reactive-block;
}
.bbn-button {
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-width: var(--default-border-width);
  border-style: var(--default-border-style);
  white-space: nowrap;
  min-height: var(--line-height);
  .bbn-mobile & {
    white-space: normal;
    line-height: var(--line-height-mobile);
    min-height: var(--line-height-mobile);
  }
  .bbn-button-secondary {
    line-height: 1px !important;
  }
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  // Why?? overflow: hidden;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  .bbn-radius;
  display: inline-block;
  //white-space: nowrap;
  //white-space: pre-line;
  &.bbn-button-icon-only{
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    padding: 0;
    height: 1.4em;
    aspect-ratio: 1;
    .bbn-mobile & {
      line-height: var(--line-height-mobile);
      height: var(--line-height-mobile);
      width: var(--line-height-mobile);
    }
  }
  i {
    line-height: inherit !important;
  }
  &:hover:not(.bbn-disabled):not(:disabled){
    .bbn-background-effect-hover-internal;
  }
  &:active, &.bbn-active{
    // .bbn-alt-background;
    .bbn-alt-background-effect-internal;
  }
  &:disabled{
    .bbn-disabled;
  }
}
.bbn-pressed {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3), inset -3px -3px 5px rgba(0, 0, 0, 0.3);
}
.bbn-pressed.bbn-white {
  box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.3), inset -3px -3px 5px rgba(255, 255, 255, 0.3);
}
.bbn-disabled > .bbn-button{
  opacity: 1;
}
.bbn-textbox{
  > .bbn-button{
    border-radius: inherit;
  }
}
.bbn-textbox .bbn-button {
  /*
  min-width: 2rem;
  min-height: 100%;
  */
  &.bbn-button-left{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
  }
  &.bbn-button-right{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right-width: 0;
  }
}
.bbn-textbox input, .bbn-textbox textarea, .bbn-textbox select {
  border: 0;
  width: 100%;
  padding: 0.1rem 0.25rem;
  box-sizing: border-box;
  background-color: transparent;
  min-height: @line-height;
}
input[type=checkbox].bbn-checkbox, input[type=radio].bbn-radio{
  display: inline;
  opacity: 0;
  margin: 0;
  -webkit-appearance: none;
  overflow: hidden;
}
.bbn-checkbox-label, .bbn-radio-label{
  position: relative;
  line-height: var(--line-height);
  cursor: pointer;
  border-style: solid;
  border-width: 0;
}

.bbn-checkbox:checked + .bbn-checkbox-label:before{
  .bbn-border-internal;
  .bbn-background-internal;
  color: var(--selected-border);
}
.bbn-checkbox:checked + .bbn-checkbox-label:focus:before, .bbn-checkbox > .bbn-checkbox-label:focus:before {
  border-color: var(--selected-border);
}
.bbn-checkbox-label:before{
  .bbn-border-internal;
  .bbn-background-internal;
  border-radius: 3px;
  font-family: 'NerdFontsSymbols Nerd Font', monospace;
  content: "\f00c";
  color: transparent;
  border-width: 1px;
  border-style: solid;
  line-height: 100%;
  text-align: center;
}
.bbn-checkbox:disabled + .bbn-checkbox-label {
  color: var(--disabled-text);
}
.bbn-checkbox:disabled + .bbn-checkbox-label:hover:before {
  box-shadow: none;
}
.bbn-checkbox:disabled + .bbn-checkbox-label:before,
.bbn-checkbox:checked:disabled + .bbn-checkbox-label:before,
.bbn-checkbox:checked:disabled + .bbn-checkbox-label:active:before,
.bbn-checkbox:checked:disabled + .bbn-checkbox-label:hover:before {
  color: var(--disabled-text);
  background: var(--disabled-background);
  border-color: var(--disabled-border);
  border-radius: var(--default-border-radius);
}

.bbn-legend-block {
  display: inline-block;
  height: 1rem;
  width: 2.5rem;
  margin-right: 1rem;
  border: 1px solid;
  vertical-align: middle;
}


.bbn-radio-label:before{
  .bbn-border-internal;
  .bbn-background-internal;
  border-radius: 50%;
  border-width: 1px;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-style: solid;
  aspect-ratio: 1;
}
.bbn-radio:checked+.bbn-radio-label:after {
  background-color: var(--selected-border);
  border-radius: 50%;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  //top: 0.2rem;
  left: 0.2rem;
}
.bbn-radio:disabled+.bbn-radio-label {
  cursor: auto;
}
.bbn-radio:disabled:checked + .bbn-radio-label:after {
  opacity: 0.5;
}
.bbn-radio .bbn-radio-label:focus:before {
  border-color: var(--selected-border);
  box-shadow: 0 0 3px 0 var(--selected-background);
}
.bbn-radio:disabled + .bbn-radio-label {
  color: var(--disabled-text);
}
.bbn-radio:disabled + .bbn-radio-label:hover:after,
.bbn-radio:disabled + .bbn-radio-label:hover:before,
.bbn-radio:disabled + .bbn-radio-label:before,
.bbn-radio:disabled + .bbn-radio-label:active:before
 {
  background: var(--disabled-background);
  border-color: var(--disabled-border);
  box-shadow: none;
}

.bbn-numeric{
  .bbn-reactive-block:focus:not(.bbn-disabled), .bbn-reactive-block:hover:focus:not(.bbn-disabled), .bbn-reactive-block:focus-within:not(.bbn-disabled), .bbn-reactive-block:hover:focus-within:not(.bbn-disabled)
.bbn-reactive-block:focus:not(:disabled), .bbn-reactive-block:hover:focus:not(:disabled), .bbn-reactive-block:focus-within:not(:disabled), .bbn-reactive-block:hover:focus-within:not(:disabled), .bbn-reactive-block:focus-within:not(.bbn-disabled){
  .bbn-background-effect-internal;
  .bbn-border;
  }
}
.bbn-form-full{
  .bbn-block;
  .bbn-flex-fill;
  width: 100%;
  margin:0.3rem 0;
  min-height: 1.5rem;
}
.bbn-form-full::after{
  .bbn-block-after;
}
.bbn-cleantable {
  &:is(table) {
    border-collapse: collapse;
  }
  &:is(table),
  .bbn-table-container table.bbn-table-table {
    outline: 0;
    width: auto;
    table-layout: fixed;
    border-spacing: 0px;
    padding: 0px;
  }
  &:is(table) > tbody > tr,
  &:is(table) > thead > tr,
  table > tbody > tr,
  table > thead > tr {
    > td{
      .bbn-background-internal;
      padding: var(--space);
    }
  }
  &:is(table) > tbody > tr,
  table > tbody > tr {
    &:hover{
      > td {
        .bbn-alt-background-effect-internal;
      }
    }
    &.bbn-alt{
      > td{
        .bbn-alt-background-internal;
      }
    }
    > td{
      border-color: var(--default-border);
      border-width: var(--default-border-width);
      border-style: var(--default-border-style);
    }
  }
  &:is(table) > thead > tr > td,
  &:is(table) > thead > tr > th,
  table > thead > tr > td,
  table > thead > tr > th {
    .bbn-header;
    .bbn-c;
    .bbn-ellipsis;
    border-color: var(--alt-border);
    border-width: var(--alt-border-width);
    border-style: var(--alt-border-style);
  }
}
.bbn-cleantable tbody > tr.bbn-alt {
  &:hover {
    td {
      .bbn-alt-background-internal;
    }
  }

  td {
    .bbn-alt-background-internal;
  }
}

.bbn-range {
  .bbn-range-input {
    background: var(--primary-background);
    &::-webkit-slider-thumb {
      background: var(--primary-text);
      border: 1px solid var(--default-border);
    }
  }
}
.bbn-circle {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;

}
.bbn-diode {
  .bbn-unselectable;
  .bbn-circle;
  background: #FFF;
  color: #FFF;
  border: 0.1rem solid rgba(0,0,0, 0.25) !important;
  font-size: 80%;
  width: 1rem;
  height: 1rem;
	filter: grayscale(30%) brightness(80%);
  > * {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1rem;
    visibility: hidden;
  }
  &:hover, &.bbn-hover{
    filter: none !important;
    > * {
      visibility: visible;
    }
  }
  &.bbn-on {
    filter: none;
  }
  &.bbn-on:hover, &.bbn-on.bbn-hover {
    filter: grayscale(30%) brightness(80%) !important;
    > * {
      visibility: visible;
    }
  }
  &.bbn-dark {
    border-color: rgba(255, 255, 255, 0.25) !important;
    > * {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
[class^='bbn-icon-'], *[class*='bbn-icon-'] {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  background: #fff;
  border: 0.2rem solid #666;
  color: #666;
  text-align: center;
  padding: 0.1rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 1rem;
}
.bbn-xxxxl, .bbn-xxxxlarge{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 4rem;
  }
}
.bbn-xxxl, .bbn-xxxlarge{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
}
.bbn-xxl, .bbn-xxlarge{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1.8rem;
  }
}
.bbn-xl, .bbn-xlarge{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
}
.bbn-lg, .bbn-large{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 1.3rem;
  }
}
.bbn-m, .bbn-medium{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: 1.1rem;
  }
}
.bbn-s, .bbn-small{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 0.85rem;
    height: 0.85rem;
    line-height: 0.85rem;
    font-size: 0.85rem;
  }
}
.bbn-xs, .bbn-xsmall{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 0.75rem;
    height: 0.75rem;
    line-height: 0.75rem;
    font-size: 0.75rem;
  }
}
.bbn-xxs, .bbn-xxsmall{
  [class^='bbn-icon-'], [class*='bbn-icon-'], &[class^='bbn-icon-'], &[class*='bbn-icon-'] {
    width: 0.66rem;
    height: 0.66rem;
    line-height: 0.66rem;
    font-size: 0.66rem;
  }
}
.bbn-icon-circle {
  border-radius: 50%;
  background: var(--default-background);
  border: 0.2rem solid var(--default-text);
  color: var(--default-text);
}
.bbn-icon-circle-full {
  border-radius: 50%;
  background: var(--default-text);
  border: 0.2rem solid var(--default-text);
  color: var(--default-background);
}
.bbn-icon-squarer {
  border-radius: 0.2rem;
  background: var(--default-background);
  border: 0.2rem solid var(--default-text);
  color: var(--default-text);
}
.bbn-icon-squarer-full {
  border-radius: 0.2rem;
  background: var(--default-text);
  border: 0.2rem solid var(--default-text);
  color: var(--default-background);
}
.bbn-icon-square {
  background: var(--default-background);
  border: 0.2rem solid var(--default-text);
  color: var(--default-text);
}
.bbn-icon-square-full {
  background: var(--default-text);
  border: 0.2rem solid var(--default-text);
  color: var(--default-background);
}
.bbn-icon-circle-alt {
  border-radius: 50%;
  background: var(--alt-background);
  border: 0.2rem solid var(--alt-text);
  color: var(--alt-text);
}
.bbn-icon-circle-full-alt {
  border-radius: 50%;
  background: var(--alt-text);
  border: 0.2rem solid var(--alt-text);
  color: var(--alt-background);
}
.bbn-icon-squarer-alt {
  border-radius: 0.2rem;
  background: var(--alt-background);
  border: 0.2rem solid var(--alt-text);
  color: var(--alt-text);
}
.bbn-icon-squarer-full-alt {
  border-radius: 0.2rem;
  background: var(--alt-text);
  border: 0.2rem solid var(--alt-text);
  color: var(--alt-background);
}
.bbn-icon-square-alt {
  background: var(--alt-background);
  border: 0.2rem solid var(--alt-text);
  color: var(--alt-text);
}
.bbn-icon-square-full-alt {
  background: var(--alt-text);
  border: 0.2rem solid var(--alt-text);
  color: var(--alt-background);
}
.bbn-nav-dots {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  li {
    .bbn-state-default;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
  li:active{
    .bbn-state-selected;
  }
}
.bbn-transition-all, .bbn-transition-bcolor, .bbn-transition-bcolor, .bbn-transition-bcolor, .bbn-transition-height {
  transition-duration: 0.3s;
}
.bbn-transition-all {
  transition-property: all;
}
.bbn-transition-width{
  transition-property: width;
}
.bbn-transition-height{
  transition-property: height;
}
.bbn-transition-color {
  transition-property: color;
}
.bbn-transition-bcolor {
  transition-property: background-color;
}
.bbn-toplabel,
.bbn-leftlabel {
  .bbn-border;
  .bbn-radius;
  .bbn-b;
  .bbn-upper;
  font-size: 0.7rem;
  z-index: 1;
  width: max-content;
  position: relative;
  &:not(.bbn-disabled) {
    background-color: var(--default-background);
  }
  &.bbn-disabled {
    color: initial !important;
  }
  &:has(+ *.bbn-state-invalid) {
    border-color: var(--error-border) !important;
  }
  &:has(+ *:focus-within) {
    border-color: var(--selected-border) !important;
  }
}
.bbn-toplabel {
  .bbn-flex;
  padding: var(--xsspace) var(--sspace);
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(calc(var(--default-border-width) + 0.2px));
  & + * {
    border-top-left-radius: 0;
    clear: both;
  }
}
.bbn-leftlabel {
  .bbn-iflex;
  padding: 0 var(--sspace);
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  //transform: translateX(calc(var(--default-border-width) + 0.2px));
  align-items: center;
  line-height: var(--line-height);
  & + * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0 !important;
  }
}
@media (max-width: calc(@mq-mobile-limit - 1px)) {
  .bbn-form {
    .bbn-form-container {
      .bbn-form-buttons.bbn-button-group {
        .bbn-button {
          min-width: max-content !important;
          width: auto !important;
        }
      }
    }
  }
}
