:root {
  --black: #000000;
  --anthracite: #454545;
  --orange: #ff9900;
  --red: #db3340;
  --green: #00a03e;
  --blue: #6e9ecf;
  --yellow: #fdf200;
  --beige: #fdfdfd;
  --white: #ffffff;
  --purple: #a333c8;
  --grey: #d3d3d3;
  --brown: #8c6954;
  --olive: #92b06a;
  --pink: #eb65a0;
  --turquoise: #1fda9a;
  --cyan: #00c8f8;
  --navy: #354458;
  --darkgrey: #5a6a62;
  --lightgrey: #dcdcdc;
  --teal: #009688;
  --indigo: #3f51b5;
  --palegreen: #ccffcc;
  --pastelgreen: #e2efda;
  --pastelorange: #fff2cc;
  --pastelblue: #ddebf6;
  --webblue: #2196f3;
}

@black: var(--black);
@anthracite: var(--anthracite);
@orange: var(--orange);
@red: var(--red);
@green: var(--green);
@blue: var(--blue);
@yellow: var(--yellow);
@beige: var(--beige);
@white: var(--white);
@purple: var(--purple);
@grey: var(--grey);
@brown: var(--brown);
@olive: var(--olive);
@pink: var(--pink);
@turquoise: var(--turquoise);
@cyan: var(--cyan);
@navy: var(--navy);
@darkgrey: var(--darkgrey);
@lightgrey: var(--lightgrey);
@teal: var(--teal);
@indigo: var(--indigo);
@palegreen: var(--palegreen);
@pastelgreen: var(--pastelgreen);
@pastelorange: var(--pastelorange);
@pastelblue: var(--pastelblue);
@webblue: var(--webblue);
