/** Default configuration*/
@mq-mobile-limit: 700px;
:root {
  --mobile-limit: @mq-mobile-limit;
  --default-text: #2e2e2e;
  --default-background: #fff;
  --default-border: #d5d5d5;
  --default-border-style: solid;
  --default-border-width: 1px;
  --default-border-radius: 0.4rem;
  --alt-text: #2e2e2e;
  --alt-border: #d5d5d5;
  --alt-background: #EFEFF0;
  --alt-border-style: solid;
  --alt-border-width: 1px;
  --alt-border-radius: 0.6rem;
  --primary-border: #e45200;
  --primary-background: #ff6b18;
  --primary-text: #fff;
  --secondary-border: #0974B3;
  --secondary-background: #53798f;
  --secondary-text: #fff;
  --tertiary-border: #829766;
  --tertiary-background: #adbb8c;
  --tertiary-text: #fff;
  --link-color: #3f51b5;
  --header: #eae8e8;
  --header-alt: #B8B6B6;
  --header-alt-text: #999;
  --header-text: #2e2e2e;
  --shadow-text: #0009;
  --shadow-box: #0009;
  --text-size: 13px;
  --nospace: 0px;
  --space: 1rem;
  --lspace: 2rem;
  --xlspace: 4rem;
  --xxlspace: 8rem;
  --sspace: 0.5rem;
  --xsspace: 0.25rem;
  --xxsspace: 0.125rem;
  --radius: 0.8rem;
  --lradius: 1.2rem;
  --sradius: 0.4rem;
  --noradius: 0;
  --button-text: #2e2e2e;
  --effect: rgba(255, 255, 255, .4);
  --line-height: 1.7rem;
  --line-height-mobile: 2rem;
  --hover-background: #bcb4b0;
  --hover-border: #b6b6b6;
  --hover-text: #2e2e2e;
  --active-text: #2e2e2e;
  --active-border: #b6b6b6;
  --active-background: #C9C1B3;
  --selected-text: #fff;
  --selected-background: #f35800;
  --selected-border: #FF5E00;
  --disabled-color: #c3c3c3;
  --disabled-background: #edebea;
  --disabled-border: #cacaca;
  --success-text: #00a03e;
  --success-background: #cacaca;
  --success-border: #00a03e;
  --error-text: #db3340;
  --error-background: #fff;
  --error-border: #db3340;
  --success-alt-text: #00a03e;
  --success-atl-background: #fff;
  --success-alt-border: #00a03e;
  --error-alt-text: #db3340;
  --error-alt-border: #db3340;
  --bold: 600;
  --font: 'Helvetica', 'Arial', sans-serif
}

@mobile-limit: var(--mobile-limit);
@default-text: var(--default-text);
@default-background: var(--default-background);
@default-border: var(--default-border);
@default-border-style: var(--default-border-style);
@default-border-width: var(--default-border-width);
@default-border-radius: var(--default-border-radius);
@alt-text: var(--alt-text);
@alt-border: var(--alt-border);
@alt-background: var(--alt-background);
@alt-border-style: var(--alt-border-style);
@alt-border-width: var(--alt-border-width);
@alt-border-radius: var(--alt-border-radius);
@primary-border: var(--primary-border);
@primary-background: var(--primary-background);
@primary-text: var(--primary-text);
@secondary-border: var(--secondary-border);
@secondary-background: var(--secondary-background);
@secondary-text: var(--secondary-text);
@tertiary-border: var(--tertiary-border);
@tertiary-background: var(--tertiary-background);
@tertiary-text: var(--tertiary-text);
@link-color: var(--link-color);
@header: var(--header);
@header-alt: var(--header-alt);
@header-alt-text: var(--header-alt-text);
@header-text: var(--header-text);
@shadow-text: var(--shadow-text);
@shadow-box: var(--shadow-box);
@text-size: var(--text-size);
@nospace: var(--nospace);
@space: var(--space);
@lspace: var(--lspace);
@xlspace: var(--xlspace);
@xxlspace: var(--xxlspace);
@sspace: var(--sspace);
@xsspace: var(--xsspace);
@xxsspace: var(--xxsspace);
@radius: var(--radius);
@lradius: var(--lradius);
@sradius: var(--sradius);
@noradius: var(--noradius);
@button-text: var(--button-text);
@effect: var(--effect);
@line-height: var(--line-height);
@line-height-mobile: var(--line-height-mobile);
@hover-background: var(--hover-background);
@hover-border: var(--hover-border);
@hover-text: var(--hover-text);
@active-text: var(--active-text);
@active-border: var(--active-border);
@active-background: var(--active-background);
@selected-text: var(--selected-text);
@selected-background: var(--selected-background);
@selected-border: var(--selected-border);
@disabled-color: var(--disabled-color);
@disabled-background: var(--disabled-background);
@disabled-border: var(--disabled-border);
@success-text: var(--success-text);
@success-background: var(--success-background);
@success-border: var(--success-border);
@error-text: var(--error-text);
@error-background: var(--error-background);
@error-border: var(--error-border);
@success-alt-text: var(--success-alt-text);
@success-alt-background: var(--success-alt-background);
@success-alt-border: var(--success-atl-border);
@error-alt-text: var(--error-alt-text);
@error-alt-border: var(--error-alt-border);
@bold: var(--bold);
@font: var(--font);


