/** Default configuration*/
@mq-mobile-limit: 700px;
@mobile-limit: @mq-mobile-limit;
@text-size: 1rem;
@font: 'OpenSans';
@link-color: #3f51b5;
@shadow-text: #0008;
@shadow-box: #0006;
@default-text: #2e2e2e;
@alt-text: #2e2e2e;
@primary-text: #fff;
@secondary-text: #fff;
@tertiary-text: #fff;
@header-alt-text: #fff;
@header-text: #2e2e2e;
@default-background: #fff;
@alt-background: #f7f9f9;
@primary-background: #ff6b18;
@secondary-background: #53798f;
@tertiary-background: #adbb8c;
@header-background: #eaeded;
@header-alt-background: #B8B6B6;
@default-border: #d5d5d5;
@alt-border: #d5d5d5;
@primary-border: #ff6b18;
@secondary-border: #53798f;
@tertiary-border: #829766;
@button-text: #2e2e2e;
@effect: rgba(255, 255, 255, .4);
@line-height: 1.7rem;
@line-height-mobile: 2rem;
@hover-text: #2e2e2e;
@hover-border: #ccc;
@hover-background: #ddd;
@active-text: #2e2e2e;
@active-border: #b6b6b6;
@active-background: #C9C1B3;
@selected-text: #2e2e2e;
@selected-background: #b6b6b6;
@selected-border: #2e2e2e;
@disabled-text: #c3c3c3;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@success-text: #00a03e;
@success-background: #cacaca;
@success-border: #00a03e;
@info-text: #3d67dd;
@info-background: #cacaca;
@info-border: #3d67dd;
@warning-text: #ff6b18;
@warning-background: #cacaca;
@warning-border: #ff6b18;
@error-text: #db3340;
@error-background: #fff;
@error-border: #db3340;
@success-alt-text: #00a03e;
@success-atl-background: #fff;
@success-alt-border: #00a03e;
@error-alt-text: #db3340;
@error-alt-border: #db3340;
@default-border-style: solid;
@alt-border-style: solid;
@default-border-width: 1px;
@alt-border-width: 1px;
@default-border-radius: 0.4rem;
@alt-border-radius: 0.6rem;
@nospace: 0px;
@space: 1rem;
@lspace: 2rem;
@xlspace: 4rem;
@xxlspace: 8rem;
@sspace: 0.5rem;
@xsspace: 0.25rem;
@xxsspace: 0.125rem;
@radius: 0.8rem;
@lradius: 1.2rem;
@sradius: 0.4rem;
@noradius: 0;

